
<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center  py-3 mb-4 border-bottom">
  <!-- <a (click)="openModal('ImportForm')" class="btn btn-outline-info">
    export or import products
  </a> -->

  <a (click)="exportAccounts()" class="btn btn-outline-info">
    Export Accounts
  </a>
  <a (click)="openModal('ImportForm')" class="btn btn-outline-info ms-3">
    Import Accounts
  </a>
  </header>
</div>
<div class="form-group col-md-12 account-hierarchy-container">
  
  <label class="form-label">{{ 'ACCOUNT_HIERARCHY' | translate }}</label>
  <div class="account-hierarchy">
    
    <ng-container *ngFor="let account of hierarchicalAccounts">
      <app-accountnode [account]="account"></app-accountnode>
    </ng-container>
  </div>
</div>
<div class="modal fade" id="ImportForm" tabindex="-1" aria-labelledby="shiftModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shiftModalLabel">{{ 'ImportForm' | translate }}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal('ImportForm')"></button>
      </div>
      <div class="modal-body">
        <div class="mt-4 mb-4">
          <form [formGroup]="accountImportForm" (ngSubmit)="handleForm()">
            <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card shadow em-card rounded-lg">
                      <div class="card-header bg-white text-black rounded-top pt-3">
                        <h5>{{ 'IMPORT_ACCOUNT' | translate }}</h5>
                      </div>
                      <div class="card-body pb-5">
                        <div class="row">

                          <div class="form-group col-md-6">
                            <label for="file" class="form-label">{{ 'FILE_TO_IMPORT' | translate }}</label>
                            <input id="file" formControlName="file" type="file" class="form-control"  accept=".xlsx,.csv"  required
                            (change)="onFileColorSelect($event)"
                            [class.is-invalid]="accountImportForm.get('file')?.errors && isSubmitted"
                            />
                             
                            <div class="invalid-feedback" *ngIf="accountImportForm.get('file')?.errors && isSubmitted">
                              <p >
                                {{ 'FILE_TO_IMPORT' | translate }} {{ 'IS_REQUIRED' | translate }}
                              </p>
                              
                            </div>
                          </div>


                          <div class="form-group mt-5">                         
                            <a  (click)="handleForm()" class="btn btn-outline-info">{{ 'IMPORT' | translate }}</a>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>
