<div class="mt-3 mb-3">
    <h5 class="large-text">{{ 'MANAGE_ROLES' | translate }}</h5>
    <span class="text-muted large-text">{{ 'DASHBOARD' | translate }} <i [ngClass]="'fa-solid ' + ('ICON_CLASS' | translate)" ></i> {{ 'ROLES' | translate }} <i [ngClass]="'fa-solid ' + ('ICON_CLASS' | translate)" ></i> {{ 'CREATE_ROLE' | translate }}</span>
  </div>
  <div class="mt-4 mb-4">
  <form  [formGroup]="roleForm" (ngSubmit)="handleForm()">
    <div class="container">
        <div class="row">
        
          <div class="col-md-12">
            <div class="card shadow em-card rounded-lg">
              <div class="card-header bg-white text-black rounded-top pt-3 ">
                <h5 class="large-text">{{ 'CREATE_ROLE' | translate }}</h5>
              </div>
            
              <div class="card-body pb-5">
  
                <div class="row">
  
                  <div class="form-group col-md-6">
                    <label for="name"  class="form-label large-text">{{ 'ROLE_NAME' | translate }}</label>
                    <input id="name" formControlName="name" type="text" class="form-control" placeholder="{{ 'ROLE_NAME' | translate }}" required/>
                    <div class="alert alert-danger" *ngIf="roleForm.get('name')?.errors && roleForm.get('name')?.touched">
                      <p *ngIf="roleForm.get('name')?.getError('required')">{{ 'NAME_REQUIRED' | translate }}</p>
                      <p *ngIf="roleForm.get('name')?.getError('maxLength')">{{ 'MAX_LENGTH_255' | translate }}</p>
                    </div>
                  </div>
                
                </div>   
                
              </div>
           
            </div>
          </div>
          <div class=" mt-4 mb-4">
            <button [disabled]="roleForm.invalid" type="submit" class="btn btn-primary px-4 large-text">
              <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i> {{ 'SAVE' | translate }}
            </button>
         </div>
      
        </div>
      
    
       
      </div>
    </form>
  </div>