<div class="mt-3 mb-3">
  <h5 class="large-text">{{ 'MANAGE_PRODUCTS' | translate }}</h5>
  <span class="text-muted large-text">{{ 'DASHBOARD' | translate }} <i [ngClass]="'fa-solid ' + ('ICON_CLASS' | translate)" ></i> {{ 'PRODUCTS' | translate }} <i [ngClass]="'fa-solid ' + ('ICON_CLASS' | translate)" ></i> {{ 'CREATE_PRODUCT' | translate }}</span>
</div>
<div class="mt-4 mb-4">
  <form [formGroup]="productForm" (ngSubmit)="handleForm()">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card shadow em-card rounded-lg">
            <div class="card-header bg-white text-black rounded-top pt-3 ">
              <h5 class="large-text">{{ 'ADD_PRODUCT' | translate }}</h5>
            </div>
            <div class="card-body pb-5">
              <div class="row">
               
                <div class="form-group col-md-6">
                  <label for="name_ar" class="form-label large-text">{{ 'PRODUCT_ARABIC_NAME' | translate }}</label>
                  <input id="name_ar" formControlName="name_ar" type="text" class="form-control" placeholder="{{ 'PRODUCT_ARABIC_NAME' | translate }}" />
                  <div class="alert alert-danger" *ngIf="productForm.get('name_ar')?.errors && productForm.get('name_ar')?.touched">
                    <p *ngIf="productForm.get('name_ar')?.hasError('required')">{{ 'PRODUCT_ARABIC_NAME' | translate }} {{ 'IS_REQUIRED' | translate }}</p>
                    <p *ngIf="productForm.get('name_ar')?.hasError('maxLength')">{{ 'PRODUCT_ARABIC_NAME' | translate }} {{ 'MAX_LENGTH_255' | translate }}</p>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="product_name_en" class="form-label large-text">{{ 'PRODUCT_ENGLISH_NAME' | translate }}</label>
                  <input id="product_name_en" formControlName="product_name_en" type="text" class="form-control" placeholder="{{ 'PRODUCT_ENGLISH_NAME' | translate }}" />
                  <div class="alert alert-danger" *ngIf="productForm.get('product_name_en')?.errors && productForm.get('product_name_en')?.touched">
                      <p *ngIf="productForm.get('product_name_en')?.hasError('maxLength')">{{ 'PRODUCT_ENGLISH_NAME' | translate }} {{ 'MAX_LENGTH_255' | translate }}</p>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="purchase_price" class="form-label large-text">{{ 'PURCHASE_PRICE' | translate }}</label>
                  <input id="purchase_price" formControlName="purchase_price" type="number" class="form-control" placeholder="{{ 'PURCHASE_PRICE' | translate }}" />
                </div>
                <div class="form-group col-md-6">
                  <label class="form-label large-text">{{ 'SELECT_DIMENSION' | translate }}</label>
                  <select class="form-control" formControlName="product_dimension" >
                    <option>{{ 'SELECT_DIMENSION' | translate }}</option>
                    <option value="0D">0D</option>
                    <option value="1D">1D</option>
                    <option value="2D">2D</option>
                    <option value="3D">3D</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label class="form-label large-text">{{ 'SELECT_UNIT' | translate }}</label>
                  <button type="button" class="btn btn-outline-primary w-100" (click)="openModal('unitModal')">
                    {{ selectedUnit ? selectedUnit.unit : ('SELECT_UNIT' | translate) }}
                  </button>
                  <input type="hidden" formControlName="unit_id" [value]="selectedUnit?.id" />
                </div>
                
                <!-- Unit Selection Modal -->
                <div class="modal fade" id="unitModal" tabindex="-1" aria-labelledby="unitModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="unitModalLabel">{{ 'SELECT_UNIT' | translate }}</h5>
                        <button type="button" class="btn-close" (click)="closeModal('unitModal')"></button>
                      </div>
                      <div class="modal-body">
                        <ul class="list-group">
                          <li
                            *ngFor="let unit of units"
                            class="list-group-item list-group-item-action"
                            (click)="selectUnit(unit, 'unitModal')"
                          >
                            {{ unit.unit }}
                          </li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="closeModal('unitModal')">{{ 'CLOSE' | translate }}</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group text-center">
                  <label for="image" class="form-label large-text"><i class="fa-solid fa-image"></i> {{ 'PRODUCT_IMAGE' | translate }} ({{"Optional"|translate}})</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="image" (change)="onFileSelected($event)" accept="image/*" style="display: none;">
                    <label for="image" class="btn btn-image">
                      <i class="fa-solid fa-file-arrow-up"></i> {{ 'CHOOSE_FILE' | translate }}
                    </label>
                    <span id="file-name">{{ selectedFile?.name || ('NO_FILE_CHOSEN' | translate) }}</span>
                  </div>
                  
                  <div formArrayName="prices">
                    <div *ngFor="let price of prices.controls; let i = index" [formGroupName]="i" class="form-group col-md-12">
                      <label class="form-label">{{ 'PRICE' | translate }} {{ i + 1 }}</label>
                      <div class="input-group gap-1">
                        
                        <input type="number" class="form-control" formControlName="price" placeholder="{{'PRICE'| translate}}  " />
                        <select class="form-control ms-2" formControlName="currency_id">
                          <option>{{ 'SELECT_CURRENCY' | translate }}</option>
                          <option *ngFor="let currency of currencies" [value]="currency.id">{{ currency.currency_name_ar }}</option>
                        </select>
                        <!-- <div class="form-group col-md-3">
                         
                          <button type="button" class="btn btn-outline-primary w-100" (click)="openModal('currencyModal')">
                            {{ selectedCurrency ? selectedCurrency.currency_name_ar : 'Select Currency' }}
                          </button>
                          <input type="hidden" formControlName="currency_id" [value]="selectedCurrency?.id" />
                        </div>
                         -->
                        <!-- Currency Selection Modal -->
                        <!-- <div class="modal fade" id="currencyModal" tabindex="-1" aria-labelledby="currencyModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="currencyModalLabel">Select Currency</h5>
                                <button type="button" class="btn-close" (click)="closeModal('currencyModal')"></button>
                              </div>
                              <div class="modal-body">
                                <ul class="list-group">
                                  <li
                                    *ngFor="let currency of currencies"
                                    class="list-group-item list-group-item-action"
                                    (click)="selectCurrency(currency, 'currencyModal')"
                                  >
                                    {{ currency.currency_name_ar }}
                                  </li>
                                </ul>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" (click)="closeModal('currencyModal')">Close</button>
                              </div>
                            </div>
                          </div>
                        </div> -->

                         <select class="form-control ms-2" formControlName="price_category_id">
                          <option> {{ 'SELECT_PRICE_CATEGORY' | translate }} </option>
                          <option *ngFor="let priceCategory of priceCategories" [value]="priceCategory.id">{{ priceCategory.name }}</option>
                        </select> 
                        <!-- <div class="form-group col-md-3">
                          <button type="button" class="btn btn-outline-primary w-100" (click)="openModal('priceCategoryModal')">
                            {{ selectedPriceCategory ? selectedPriceCategory.name : "Select Price Category" }}
                          </button>
                          <input type="hidden" formControlName="price_category_id" [value]="selectedPriceCategory?.id" />
                        </div> -->
                        
                        <!-- Price Category Selection Modal -->
                        <!-- <div class="modal fade" id="priceCategoryModal" tabindex="-1" aria-labelledby="priceCategoryModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="priceCategoryModalLabel">Select Price Category</h5>
                                <button type="button" class="btn-close" (click)="closeModal('priceCategoryModal')"></button>
                              </div>
                              <div class="modal-body">
                                <ul class="list-group">
                                  <li
                                    *ngFor="let priceCategory of priceCategories"
                                    class="list-group-item list-group-item-action"
                                    (click)="selectPriceCategory(priceCategory, 'priceCategoryModal')"
                                  >
                                    {{ priceCategory.name }}
                                  </li>
                                </ul>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" (click)="closeModal('priceCategoryModal')">Close</button>
                              </div>
                            </div>
                          </div>
                        </div> -->
                       
                        <button type="button" class="btn btn-success ms-2" (click)="addPrice()">+</button>
                        <button type="button" class="btn btn-danger ms-2" (click)="removePrice(i)">-</button>
                      </div>
                      <div *ngIf="price.get('price')?.hasError('required') && price.get('price')?.touched" class="text-danger">
                        {{ 'PRICE' | translate }} {{ 'IS_REQUIRED' | translate }}.
                      </div>
                      <div *ngIf="price.get('currency_id')?.hasError('required') && price.get('currency_id')?.touched" class="text-danger">
                        {{ 'CURRENCY' | translate }} {{ 'IS_REQUIRED' | translate }}.
                      </div>
                      <div *ngIf="price.get('price_category_id')?.hasError('required') && price.get('price_category_id')?.touched" class="text-danger">
                        {{ 'PRICE_CATEGORY' | translate }} {{ 'IS_REQUIRED' | translate }}.
                      </div>
                    </div>
                  </div>
                  <!-- 'determinants.*.determinant_id.required' => 'Each determinant must have a valid ID.',
                  'determinants.*.value.required' => 'Each determinant must have a value.', -->
                  <div formArrayName="determinants">
                    <div *ngFor="let determinant of determinants.controls; let i = index" [formGroupName]="i" class="form-group col-md-12">
                      <label class="form-label">  {{ 'SELECT_DETERMINANT' | translate }} {{ i + 1 }}</label>
                      <div class="input-group">
                        <select class="form-control" formControlName="determinant_id">
                          <option>{{ 'SELECT_DETERMINANT' | translate }}</option>
                          <option *ngFor="let determinant of determinantsarray" [value]="determinant.id">{{ determinant.determinant}}</option>
                        </select>
                        <input type="text" class="form-control  ms-2" formControlName="value" placeholder="{{ 'VALUE' | translate }}" />
                        <button type="button" class="btn btn-success ms-2" (click)="addDeterminant()">+</button>
                        <button type="button" class="btn btn-danger ms-2" (click)="removeDeterminant(i)">-</button>
                      </div>
                      <div *ngIf="determinant.get('determinant_id')?.hasError('required') && determinant.get('determinant_id')?.touched" class="text-danger">
                      {{ 'DETERMINANT' | translate }} {{ 'IS_REQUIRED' | translate }}.
                      </div>
                      <div *ngIf="determinant.get('value')?.hasError('required') && determinant.get('value')?.touched" class="text-danger">
                      {{ 'VALUE' | translate }} {{ 'IS_REQUIRED' | translate }}.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-4 mb-4">
          <button [disabled]="productForm.invalid" type="submit" class="btn btn-primary px-4 large-text">
            <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i> {{ 'SAVE' | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>