<div class="mt-3 mb-3">
  <h5 class="large-text">{{ 'MANAGE_PRODUCTS' | translate }}</h5>
  <span class="text-muted large-text">{{ 'DASHBOARD' | translate }} <i [ngClass]="'fa-solid ' + ('ICON_CLASS' | translate)" ></i> {{ 'PRODUCTS' | translate }} <i [ngClass]="'fa-solid ' + ('ICON_CLASS' | translate)" ></i> {{ 'CREATE_PRODUCT' | translate }}</span>
</div>
<div class="mt-4 mb-4">
  <form [formGroup]="productForm" (ngSubmit)="handleForm()">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card shadow em-card rounded-lg">
            <div class="card-header bg-white text-black rounded-top pt-3 ">
              <h5 class="large-text">{{ 'ADD_PRODUCT' | translate }}</h5>
            </div>
            <div class="card-body pb-5">
              <div class="row">
               
                <div class="col-md-6 mb-3">
                  <label for="name_ar" class="form-label large-text">{{ 'PRODUCT_ARABIC_NAME' | translate }}</label>
                  <input id="name_ar" formControlName="name_ar" type="text" class="form-control" 
                         placeholder="{{ 'PRODUCT_ARABIC_NAME' | translate }}" 
                         [class.is-invalid]="productForm.get('name_ar')?.invalid && isSubmited" />
                
                  <div class="invalid-feedback" *ngIf="productForm.get('name_ar')?.invalid && isSubmited">
                    <p *ngIf="productForm.get('name_ar')?.hasError('required')">
                      {{ 'PRODUCT_ARABIC_NAME' | translate }} {{ 'IS_REQUIRED' | translate }}
                    </p>
                    <p *ngIf="productForm.get('name_ar')?.hasError('maxLength')">
                      {{ 'PRODUCT_ARABIC_NAME' | translate }} {{ 'MAX_LENGTH_255' | translate }}
                    </p>
                  </div>
                </div>
                
         

                <div class="col-md-6 mb-3">
                  <label for="product_name_en" class="form-label large-text">
                    {{ 'PRODUCT_ENGLISH_NAME' | translate }}
                  </label>
                  
                  <input id="product_name_en" formControlName="product_name_en" type="text" class="form-control" 
                         placeholder="{{ 'PRODUCT_ENGLISH_NAME' | translate }}" 
                         [class.is-invalid]="productForm.get('product_name_en')?.invalid && isSubmited" />
                
                  <div class="invalid-feedback" *ngIf="productForm.get('product_name_en')?.invalid && isSubmited">
                    <p *ngIf="productForm.get('product_name_en')?.hasError('required')">
                      {{ 'PRODUCT_ENGLISH_NAME' | translate }} {{ 'IS_REQUIRED' | translate }}
                    </p>
                    <p *ngIf="productForm.get('product_name_en')?.hasError('maxLength')">
                      {{ 'PRODUCT_ENGLISH_NAME' | translate }} {{ 'MAX_LENGTH_255' | translate }}
                    </p>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="form-label large-text">{{ 'BARCODE' | translate }}</label>
               <p><strong>{{barcode}}</strong></p>
                </div>
                
                <div class="form-group col-md-6">
                  <label class="form-label large-text">{{ 'SELECT_UNIT' | translate }}</label>
                  <select class="form-control" formControlName="unit_id" (change)="onUnitChange($event)"
                  [class.is-invalid]="!selectedUnit && isSubmited"
                  >
                    <option>{{ 'SELECT_UNIT' | translate }}</option>
                    <option *ngFor="let unit of units" [value]="unit.id">{{unit.name}}</option>
                    
                  </select>
                  <div class="invalid-feedback" *ngIf="!selectedUnit && isSubmited">
                    <p >
                      {{ 'SELECT_UNIT' | translate }} {{ 'IS_REQUIRED' | translate }}
                    </p>
                    
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="form-label large-text">{{ 'SELECT_PRODUCT_CATEGORY' | translate }}</label>
                  <select class="form-control" formControlName="product_category_id" (change)="onProductCategoryChange($event)"
                  [class.is-invalid]="!selectedProductCategory && isSubmited"
                  >
                    <option>{{ 'SELECT_PRODUCT_CATEGORY' | translate }}</option>
                    <option *ngFor="let unit of productCategories" [value]="unit.id">{{unit.name}}</option>
                    
                  </select>
                  <div class="invalid-feedback" *ngIf="!selectedProductCategory && isSubmited">
                    <p >
                      {{ 'SELECT_UNIT' | translate }} {{ 'IS_REQUIRED' | translate }}
                    </p>
                    
                  </div>
                </div>

                <div class="col-md-6">
                  <label for="coverImage" class="form-label large-text">
                    {{ 'UPLOAD_IMAGE' | translate }}
                  </label>
                
                  <input type="file" id="coverImage" class="form-control" 
                         (change)="onFileCoverImageSelect($event)" 
                         accept="image/*" 
                         [class.is-invalid]="productForm.get('image')?.invalid && isSubmited" />
                
                  <div class="invalid-feedback" *ngIf="productForm.get('image')?.invalid && isSubmited">
                    <p>
                      {{ 'IMAGE_IS_REQUIRED' | translate }}
                    </p>
                  </div>
                </div>

  
              

                
                <div class="col-md-6 ">
                  <label for="product_description" class="form-label large-text">
                    {{ 'product_description' | translate }}
                  </label>
                  <textarea id="product_description" formControlName="product_description" class="form-control" placeholder="{{ 'ENTER_NOTE' | translate }}" rows="3"></textarea>

        
                 
                </div>


                <div class="col-md-6 ">

                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="need_serial" formControlName="need_serial">
                    <label class="custom-control-label" for="need_serial">Dose this product need serial</label>
                  </div>
  
  
  
                  
                </div>
                <div class="form-group text-center">
                  <!-- <div formArrayName="prices">
                    <div  class=" text-black bg-secoundry border rounded  row pb-2 m-3" >

                      <div class="card-header"> الاسعار </div>


                      <div *ngFor="let price of prices.controls; let i = index"  [formGroupName]="i" class="col-sm-6 mt-2">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">{{price.get('price_category_name')?.value}}</h5>

                          <button type="button" class="btn btn-success mt-2" (click)="addPriceRange(i)">+</button>

                
                          <div formArrayName="ranges" class="mt-2">
                            <div *ngFor="let range of getRanges(i).controls; let j = index" [formGroupName]="j" class="row align-items-center g-2 mt-2">
                              
                              <div class="col-md-4">
                                <input type="number" class="form-control" formControlName="price" placeholder="Enter Range Price" />
                              </div>

                              <div class="col-md-2">
                                <label for="">from: {{range.get('range_from')?.value}}</label>
                              </div>
                        
                              <div class="col-md-4">
                                <input type="number" class="form-control" formControlName="range_to" placeholder="Enter range_to Price"
                                (input)="onPriceRangeChange(i,j, $event)" 
                                [class.is-invalid]="range.get('range_from')?.value > range.get('range_to')?.value" 

                                />

                                <div class="invalid-feedback" *ngIf="range.get('range_from')?.value > range.get('range_to')?.value">
                                  <p>
                                    {{ 'TONUMBER_MUST_BE_BIGGER' | translate }}
                                  </p>
                                </div>
                              </div>
                        
                              <div class="col-md-2">
                                <button type="button" class="btn btn-danger w-100" (click)="removeRange(i, j)">
                                  <i class="fa fa-trash"></i>
                                </button>
                              </div>
                        
                            </div>
                          </div>
                        </div>


                        </div>



                      </div>
  
                    </div>
                  </div> -->


                  <div  class=" text-black bg-secoundry border rounded  row pb-2 m-3" >

                    <div class="card-header"> صور المنتج </div>
                    
                    <div class="file-upload-container text-center">
                      <label for="gallery" class="file-upload-label">
                        <input type="file" id="gallery" class="file-upload-input" accept="image/*" multiple (change)="onFileSelect($event)">
                        <i class="fa-solid fa-cloud-upload-alt"></i>
                        <span>{{ 'CHOOSE_FILE' | translate }}</span>
                      </label>
                      <div class="preview-container" *ngIf="selectedFiles.length > 0">
                        <div *ngFor="let file of selectedFiles" class="preview-item">
                          <img [src]="file.preview" alt="Image Preview">
                        </div>
                      </div>

                     
                    </div>
                    
                    <div class="text-danger" *ngIf="selectedFiles.length == 0 && isSubmited" >
                      <p>
                        صور المنتج  {{ 'IS_REQUIRED' | translate }}
                      </p>
                      
                    </div>
                  </div>

                  <div  class=" text-black bg-secoundry border rounded  row pb-2 m-3" >

                    <div class="card-header"> الوان المنتج </div>
                    <div formArrayName="colors">
                      <div *ngFor="let color of colors.controls; let i = index" [formGroupName]="i" class="row align-items-center g-2 mb-2 mt-2">
    
                        <div class="col-md-6">
                      
                          <label class="form-label large-text">{{ 'COLOR_NAME' | translate }}</label>
                          <select class="form-control" formControlName="color_id"
                          [class.is-invalid]="color.get('color_id')?.invalid && isSubmited"
                          >
                            <option *ngFor="let color of mainColors" [value]="color.id">{{color.color}}</option>
                            
                          </select>
                          <div class="invalid-feedback" *ngIf="color.get('color_id')?.invalid && isSubmited">
                            <p >
                              {{ 'COLOR_NAME' | translate }} {{ 'IS_REQUIRED' | translate }}
                            </p>
                            
                          </div>
                        </div>

                        <div class="col-md-5">
                          <input type="file" class="form-control" (change)="onFileColorSelect($event, i)" accept="image/*" />
                          <div *ngIf="color.get('image')?.invalid && color.get('image')?.touched" class="text-danger">
                            {{ 'IMAGE_IS_REQUIRED' | translate }}
                          </div>
                        </div>
                    
                        <div class="col-md-1">
                          <button type="button" class="btn btn-danger w-100" (click)="removeColor(i)">
                            <i class="fa fa-trash"></i> {{ 'REMOVE' | translate }}
                          </button>
                        </div>
                    
                      </div>
                    <button type="button" class="btn btn-success mt-2" (click)="addColor()">+ {{ 'ADD_COLOR' | translate }}</button>
                    </div>
                  </div>





                  <div  class=" text-black bg-secoundry border rounded  row pb-2 m-3" >

                    <div class="card-header"> محددات المنتج </div>
                     
                    
                    
                      <div class="col-md-12 text-black bg-secoundry border rounded pb-2 m-3" *ngIf="determinants.controls.length>0">
                        <!-- <div class="card-header"> {{ 'DETERMINANT_VALUES' | translate }} </div> -->
                        <div class="row ">
                          <div *ngFor="let determinant of determinants.controls; let i = index" class="col-md-3 row p-1 m-2 rounded .bg-light border">
                            <div class="col-md-10">
                              {{ determinant.get('determinant_name')?.value }}
                            </div>
                            <div class="col-md-2">
                              <a class="btn-close" aria-label="Close" (click)="removeDeterminant(i)"></a>
                            </div>
                            </div>
                        </div>
                      </div>
                      
                    
                    

                        <div class="col-md-6 row">
                          <label class="form-label large-text">{{ 'SELETECT_DETERMINAT' | translate }}</label>


                          <div class="form-group col-md-6 ">

                          <select class="form-control" formControlName="determinant_id">
                            <option *ngFor="let determinant of MainDeterminants" [value]="determinant.id">{{determinant.name}}</option>
                          </select>
                        </div>


                        <div class="form-group col-md-6 ">
                          <a class="btn btn-outline-success" (click)="addDeterminant()"> add</a>                
                        </div>


                        </div>


                     

                      
                        <!-- <div class="col-md-1">
                          <button type="button" class="btn btn-danger w-100" (click)="removeColor(i)">
                            <i class="fa fa-trash"></i> {{ 'REMOVE' | translate }}
                          </button>
                        </div> -->
                    

                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-4 mb-4">
          <button  type="submit" class="btn btn-primary px-4 large-text">
            <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i> {{ 'SAVE' | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>