<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h5>{{ 'MANAGE_CUSTOMER' | translate }}</h5>
        <span class="text-muted">
            {{ 'DASHBOARD' | translate }} <i [ngClass]="'fa-solid ' + ('ICON_CLASS' | translate)"></i> {{ 'GROUPS' | translate }}
        </span>
    </div>
    <a class="nav-link" routerLinkActive="active" routerLink="/dashboard/addGroup">
        <i class="fa-solid fa-plus text-white iconPlus rounded"></i>
    </a>
</div>

<div class="vendortable rounded mt-4 shadow-sm p-4 bg-white">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="fw-bold">{{ 'GROUP_LIST' | translate }}</span>
            <!-- <input class="form-control search w-25" type="search" placeholder="Search..." aria-label="Search"> -->
            <input 
            class="form-control search w-25" 
            type="search" 
            placeholder="{{ 'SEARCH' | translate }}"
            [(ngModel)]="searchTerm" 
            (input)="filterGroups()" 
            aria-label="Search">
        </div>

    </div> 

    <table class="table mt-3">
        <thead>
            <tr>
                <th class="bg-light" scope="col">#</th>
                <th class="bg-light" scope="col">{{ 'GROUP_NAME' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'ACTIONS' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let group of filteredGroups; let i = index">
                <th scope="row">{{group.id}}</th>
                <td>{{ group.name }}</td>
                <td class="d-flex justify-content-center gap-3 align-items-center">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/updateGroup', group.id]">
                        <i class="fa-solid fa-pencil btn1 bg-success rounded" title="{{ 'EDIT_GROUP' | translate }}"></i>
                    </a>
                    <i class="fa-solid fa-trash-can btn1 bg-danger rounded" (click)="deleteGroup(group.id)" title="{{ 'DELETE_GROUP' | translate }}"></i>
                    <button class="btn btn-outline-info" (click)="viewChild(group.id)" [disabled]="!group.has_children">
                        {{ 'VIEW_GROUPS' | translate }}
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>