<div class="d-flex justify-content-between align-items-center mb-3">
  <div>
      <h5>{{ 'MANAGE_PRODUCTS' | translate }}</h5>
      <span class="text-muted">{{ 'DASHBOARD' | translate }} <i [ngClass]="'fa-solid ' + ('icon-class' | translate)"></i> {{ 'PRODUCTS' | translate }}</span>
  </div>
  <a class="nav-link" routerLinkActive="active" routerLink="/dashboard/addProduct">
      <i class="fa-solid fa-plus text-white iconPlus rounded"></i>
  </a>
</div>





<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center  py-3 mb-4 border-bottom">
  <a (click)="exportProducts()" class="btn btn-outline-info">
    export products
  </a>


  <a (click)="openModal('ImportForm')" class="btn btn-outline-info ms-3">
    import products
  </a>
  </header>
</div>





<div class="vendortable rounded mt-4 shadow-sm p-4 bg-white">
  <div class="container">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <span class="fw-bold">{{ 'PRODUCTS_LIST' | translate }}</span>
        <!-- <input class="form-control search w-25" type="search" placeholder="Search..." aria-label="Search"> -->
        <input 
        class="form-control search w-25" 
        type="search" 
        placeholder="{{ 'SEARCH' | translate }}"
                aria-label="Search" 
        [(ngModel)]="searchTerm" 
        (input)="searchProducts()"  
      >
      </div>
  </div>

  <table class="table mt-3">
      <thead>
          <tr>
              <th class="bg-light" scope="col">#</th>
              <th class="bg-light" scope="col">{{ 'PRODUCT' | translate }}</th>
              <th class="bg-light" scope="col">{{ 'PRODUCT_UNIT' | translate }}</th>
              <th class="bg-light" scope="col">{{ 'AMOUNT' | translate }}</th>


              <th class="bg-light" scope="col">{{ 'IMAGE' | translate }}</th>
              <th class="bg-light" scope="col">{{ 'ACTIONS' | translate }}</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of filteredProducts; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ product.name }}</td>
          <td>{{ product.product_unit?.name || 'N/A' }}</td>
          <td>{{ product.stock || 'N/A' }}</td>

          <!-- <td>

            <img [src]="product.image" alt="{{ product.name_ar }}" width="50" height="50" />
          </td> -->
          <td>
            <img 
              [src]="product.cover_image ? product.cover_image : 'images/image.jpg'" 
              alt="{{ product.name || 'Default Product' }}" 
              width="50" 
              height="50" 
            />
          </td>
          <!-- <td>{{ product.amount }}</td> -->
          <td >
            <div class="d-flex justify-content-around align-items-center">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/showProduct', product.id]">
              <i class="fa-solid fa-eye btn1 bg-primary rounded"></i>
            </a>
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/updateProduct', product.id]">
              <i class="fa-solid fa-pencil btn1 bg-success rounded"></i>
            </a>
            <i
              class="fa-solid fa-trash-can btn1 bg-danger rounded"
              (click)="deleteProduct(product.id)"
            ></i>
        </div>
          </td>
        </tr>
      </tbody>
  </table>
</div>





<div class="modal fade" id="ImportForm" tabindex="-1" aria-labelledby="shiftModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shiftModalLabel">{{ 'ImportForm' | translate }}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal('ImportForm')"></button>
      </div>
      <div class="modal-body">


   
        <div class="mt-4 mb-4">
          <form [formGroup]="productImportForm" (ngSubmit)="handleForm()">
            <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card shadow em-card rounded-lg">
                      <div class="card-header bg-white text-black rounded-top pt-3">
                        <h5>{{ 'addCity.add_city' | translate }}</h5>
                      </div>
                      <div class="card-body pb-5">
                        <div class="row">
                          <div class="form-group col-md-6">
                            <label for="file" class="form-label">{{ 'FILE_TO_IMPORT' | translate }}</label>
                            <input id="file" formControlName="file" type="file" class="form-control"  accept=".xlsx,.csv"  required
                            (change)="onFileColorSelect($event)"
                            [class.is-invalid]="productImportForm.get('file')?.errors && isSubmitted"
                            />
                             
                            <div class="invalid-feedback" *ngIf="productImportForm.get('file')?.errors && isSubmitted">
                              <p >
                                {{ 'FILE_TO_IMPORT' | translate }} {{ 'IS_REQUIRED' | translate }}
                              </p>
                              
                            </div>
                          </div>
                        
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mt-4 mb-4">
                    <button  type="submit" class="btn btn-primary px-4">
                      <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>{{ 'addCity.save' | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          



      </div>
    </div>
  </div>
</div>
