<div class="d-flex justify-content-between align-items-center mb-3">
  <div>
      <h5>{{ 'MANAGE_PRODUCTS' | translate }}</h5>
      <span class="text-muted">{{ 'DASHBOARD' | translate }} <i [ngClass]="'fa-solid ' + ('icon-class' | translate)"></i> {{ 'PRODUCTS' | translate }}</span>
  </div>
  <a class="nav-link" routerLinkActive="active" routerLink="/dashboard/addProduct">
      <i class="fa-solid fa-plus text-white iconPlus rounded"></i>
  </a>
</div>

<div class="vendortable rounded mt-4 shadow-sm p-4 bg-white">
  <div class="container">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <span class="fw-bold">{{ 'PRODUCTS_LIST' | translate }}</span>
        <!-- <input class="form-control search w-25" type="search" placeholder="Search..." aria-label="Search"> -->
        <input 
        class="form-control search w-25" 
        type="search" 
        placeholder="{{ 'SEARCH' | translate }}"
                aria-label="Search" 
        [(ngModel)]="searchTerm" 
        (input)="searchProducts()"  
      >
      </div>
  </div>

  <table class="table mt-3">
      <thead>
          <tr>
              <th class="bg-light" scope="col">#</th>
              <th class="bg-light" scope="col">{{ 'PRODUCT_NAME_AR' | translate }}</th>
              <th class="bg-light" scope="col">{{ 'PRODUCT_UNIT' | translate }}</th>
              <th class="bg-light" scope="col">{{ 'PRODUCT_DIMENSION' | translate }}</th>
              <th class="bg-light" scope="col">{{ 'IMAGE' | translate }}</th>
              <th class="bg-light" scope="col">{{ 'ACTIONS' | translate }}</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of filteredProducts; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ product.name_ar }}</td>
          <td>{{ product.unit?.unit || 'N/A' }}</td>
          <td>{{ product.product_dimension }}</td>
          <!-- <td>

            <img [src]="product.image" alt="{{ product.name_ar }}" width="50" height="50" />
          </td> -->
          <td>
            <img 
              [src]="product.image ? product.image : 'images/image.jpg'" 
              alt="{{ product.name_ar || 'Default Product' }}" 
              width="50" 
              height="50" 
            />
          </td>
          <!-- <td>{{ product.amount }}</td> -->
          <td >
            <div class="d-flex justify-content-around align-items-center">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/showProduct', product.id]">
              <i class="fa-solid fa-eye btn1 bg-primary rounded"></i>
            </a>
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/updateProduct', product.id]">
              <i class="fa-solid fa-pencil btn1 bg-success rounded"></i>
            </a>
            <i
              class="fa-solid fa-trash-can btn1 bg-danger rounded"
              (click)="deleteProduct(product.id)"
            ></i>
        </div>
          </td>
        </tr>
      </tbody>
  </table>
</div>