<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h5>{{ 'MANAGE_CLEINTS' | translate }}</h5>
        <span class="text-muted">
            {{ 'DASHBOARD' | translate }} <i [ngClass]="'fa-solid ' + ('ICON_CLASS' | translate)"></i> {{ 'CLIENTS' | translate }}
        </span>
    </div>
    <a class="nav-link" routerLinkActive="active" routerLink="/dashboard/add-client">
        <i class="fa-solid fa-plus text-white iconPlus rounded"></i>
    </a>
</div>

<div class="vendortable rounded mt-4 shadow-sm p-4 bg-white">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="fw-bold">{{ 'CLEINTS_LIST' | translate }}</span>
            <!-- <input class="form-control search w-25" type="search" placeholder="Search..." aria-label="Search"> -->
            <input 
                class="form-control search w-25" 
                type="search" 
                [(ngModel)]="searchTerm" 
                placeholder="{{ 'SEARCH' | translate }}"
                                aria-label="Search">
        </div>
    </div>

    <table class="table mt-3">
        <thead>
            <tr>
                <th class="bg-light" scope="col">#</th>
                <th class="bg-light" scope="col">{{ 'CLIENT_NAME' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'ACCOUNT_CATEGORY' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'DELEGATE' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'PRICE_CATEGORY' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'IMAGE' | translate }}</th>

                <th class="bg-light" scope="col">{{ 'ACTIONS' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let currency of clients; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ currency.account.name }}</td>
                <td>{{ currency.account_category? currency.account_category.name : "---" }}</td>
                <td>{{ currency.delegate ? currency.delegate.name : "--" }}</td>
                <td>{{ currency.price_category? currency.price_category.name : "--" }}</td>

                
                <td>
                    <img 
                      [src]="currency.image ? currency.image : 'images/image.jpg'" 
                      alt="{{ currency.name || 'Default Product' }}" 
                      width="50" 
                      height="50" 
                    />
                  </td>
                <td class="d-flex justify-content-center gap-3 align-items-center">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/update-client/', currency.id]">
                        <i class="fa-solid fa-pencil btn1 bg-success rounded" title="{{ 'EDIT_CURRENCY' | translate }}"></i>
                    </a>
                    <i class="fa-solid fa-trash-can btn1 bg-danger rounded" (click)="deleteCurrency(currency.id)" title="{{ 'DELETE_CURRENCY' | translate }}"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>