<div class="d-flex justify-content-between align-items-center mb-3">
  <div>
    <h5>{{ 'MANAGE_PURCHASES' | translate }}</h5>
    <span class="text-muted">{{ 'DASHBOARD' | translate }} <i [ngClass]="'fa-solid ' + ('icon-class' | translate)"></i> {{ 'PURCHASES' | translate }}</span>
  </div>
  <a class="nav-link" routerLinkActive="active" routerLink="/dashboard/addPurchase">
    <i class="fa-solid fa-plus text-white iconPlus rounded"></i>
  </a>
</div>
<!-- <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/approvedPurchases']">
  <i class="btn1 bg-success rounded">{{ 'APPROVED_PURCHASES' | translate }}</i>
</a> -->



<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">

      <li>
        <a 
          (click)="changeStatus('waiting')" 
          class="nav-link px-2"
          [ngClass]="{'active-tab': status === 'waiting', 'inactive-tab': status !== 'waiting'}"
        >
          {{ 'WAITING' | translate }}
        </a>
      </li>
      <li>
        <a 
          (click)="changeStatus('approved')" 
          class="nav-link px-2"
          [ngClass]="{'active-tab': status === 'approved', 'inactive-tab': status !== 'approved'}"
        >
          {{ 'APPROVED' | translate }}
        </a>
      </li>
      <li>
        <a 
          (click)="changeStatus('rejected')" 
          class="nav-link px-2"
          [ngClass]="{'active-tab': status === 'rejected', 'inactive-tab': status !== 'rejected'}"
        >
          {{ 'REJECTED' | translate }}
        </a>
      </li>
    </ul>
    

  </header>
</div>




<div class="vendortable rounded mt-4 shadow-sm p-4 bg-white">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <span class="fw-bold">{{ 'PURCHASES_LIST' | translate }}</span>
      <input 
      class="form-control search w-25" 
      type="search" 
      placeholder="{{ 'SEARCH' | translate }}"
      aria-label="Search"
      [(ngModel)]="searchTerm" 
      (input)="filterPurchases()">
      <!-- <input class="form-control search w-25" type="search" placeholder="Search..." aria-label="Search"> -->
    </div>
  </div>

  <table class="table mt-3">
    <thead>
      <tr>
        <th class="bg-light" scope="col">#</th>
        <th class="bg-light" scope="col">{{ 'VENDOR' | translate }}</th>
        <th class="bg-light" scope="col">{{ 'INVOICE_DATE' | translate }}</th>
        <th class="bg-light" scope="col">{{ 'PRICE' | translate }}</th>
        <th class="bg-light" scope="col">{{ 'PYMENT_TYPE' | translate }}</th>

        <th class="bg-light" scope="col">{{ 'ACTIONS' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let purchase of filteredPurchases; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ purchase.vendor.name }}</td>
        <td>{{ purchase.date || 'N/A' }}</td>
        <td>{{ purchase.total }}</td>
        <td>{{ purchase.payment_type }}</td>

        <td>
          <div class="d-flex justify-content-around align-items-center">



            <a *ngIf="status == 'waiting' || status == 'rejected'" class="btn btn-info" (click)="ManageChangeStatus('approved' ,purchase.id)">
              approve
            </a>
            <a  *ngIf="status == 'approved' || status == 'waiting'"   class="btn btn-danger" (click)="ManageChangeStatus('rejected',purchase.id)">
              reject
            </a>
            <a *ngIf="status == 'rejected'" class="btn btn-success" (click)="ManageChangeStatus('waiting',purchase.id)">
              waiting
            </a>


          


            
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/showPurchase', purchase.id]">
              <i class="fa-solid fa-eye btn1 bg-primary rounded" title="{{ 'VIEW' | translate }}"></i>
            </a>
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/updatePurchase', purchase.id]">
              <i class="fa-solid fa-pencil btn1 bg-success rounded"></i>
            </a>
            <i class="fa-solid fa-trash-can btn1 bg-danger rounded" (click)="deletePurchase(purchase.id)"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>