<div class="d-flex justify-content-between align-items-center mb-3">
  <div>
    <h5 class="large-text">{{ 'MANAGE_SALES' | translate }}</h5>
    <span class="text-muted large-text">{{ 'DASHBOARD' | translate }} <i [ngClass]="'fa-solid ' + ('ICON_CLASS' | translate)" ></i> {{ 'SALES' | translate }}</span>
  </div>
  <a *ngIf="_PermissionService.hasPermission('sale_bills' , 'add_sale_bills')"  class="nav-link" routerLinkActive="active" routerLink="/dashboard/addSale">
    <i class="fa-solid fa-plus text-white iconPlus rounded"></i>
  </a>
</div>



<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">

      <li>
        <a 
          (click)="changeStatus('waiting')" 
          class="nav-link px-2"
          [ngClass]="{'active-tab': status === 'waiting', 'inactive-tab': status !== 'waiting'}"
        >
          {{ 'WAITING' | translate }}
        </a>
      </li>
      <li>
        <a 
          (click)="changeStatus('approved')" 
          class="nav-link px-2"
          [ngClass]="{'active-tab': status === 'approved', 'inactive-tab': status !== 'approved'}"
        >
          {{ 'APPROVED' | translate }}
        </a>
      </li>
      <li>
        <a 
          (click)="changeStatus('rejected')" 
          class="nav-link px-2"
          [ngClass]="{'active-tab': status === 'rejected', 'inactive-tab': status !== 'rejected'}"
        >
          {{ 'REJECTED' | translate }}
        </a>
      </li>
    </ul>
    

  </header>
</div>




<div class="vendortable rounded mt-4 shadow-sm p-4 bg-white">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <span class="fw-bold large-text">{{ 'SALES_LIST' | translate }}</span>
      <input class="form-control search w-25" type="search" placeholder="{{ 'SEARCH' | translate }}" aria-label="Search">
    </div>

     <div class="d-flex justify-content-between align-items-center mb-3">
      <input (change)="dateChange()" class="form-control search w-25" type="date" placeholder="{{ 'SEARCH' | translate }}" aria-label="Search">
    </div>


  </div>

  <table class="table mt-3">
    <thead>
      <tr>
        <th class="bg-light" scope="col">#</th>
        <th class="bg-light" scope="col">{{ 'CLIENT' | translate }}</th>
        <th class="bg-light" scope="col">{{ 'INVOICE_DATE' | translate }}</th>
        <th class="bg-light" scope="col">{{ 'PRICE' | translate }}</th>
        <th class="bg-light" scope="col">{{ 'TOTAL_PAID' | translate }}</th>
        <th class="bg-light" scope="col">{{ 'PYMENT_TYPE' | translate }}</th>
        <th class="bg-light" scope="col">{{ 'PRICE_OVERRIDE' | translate }}</th>
        <th class="bg-light" scope="col">{{ 'ACTIONS' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sale of sales; let i = index"
      
        [ngClass]="{
      'table-danger': sale.is_client_susbended,
      'table-warning': !sale.is_client_susbended && (sale.price_override || (sale.client_payment_type == 'cash' && sale.total != sale.total_paid)),
      'table-default': !sale.is_client_susbended && !(sale.price_override || (sale.client_payment_type == 'cash' && sale.total != sale.total_paid))
    }"
    
    >
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ sale.client }}</td>
        <td>{{ sale.date || 'N/A' }}</td>
        <td>{{ sale.total }}</td>
        <td>{{ sale.total_paid }}</td>
        <td>{{ sale.payment_type }}</td>
        <td>{{ sale.price_override ? 'overrided': 'none' }}</td>
        <td>
          <div class="d-flex justify-content-around align-items-center">

            <a *ngIf="(status == 'waiting' || status == 'rejected')  
             && (sale.price_override || sale.is_client_susbended || (sale.client_payment_type =='cash' && sale.total != sale.total_paid))  
            &&  ((sale.price_override &&  _PermissionService.hasPermission('manager_requests' , 'override_sale_bill_price')) || ((sale.is_client_susbended || (sale.client_payment_type =='cash' && sale.total != sale.total_paid)) &&  _PermissionService.hasPermission('manager_requests' , 'override_sale_bill_susbended_client')) )" class="btn btn-outline-info" (click)="ManageChangeStatus('approved' ,sale.id)">
              override
            </a>

            <a *ngIf="(status == 'waiting' || status == 'rejected')   && !(sale.price_override || sale.is_client_susbended || (sale.client_payment_type =='cash' && sale.total != sale.total_paid))  && _PermissionService.hasPermission('sale_bills' , 'edit_sale_bills')" class="btn btn-info" (click)="ManageChangeStatus('approved' ,sale.id)">
              approve
            </a>
            <a  *ngIf="status == 'waiting'   
            && !(sale.price_override || sale.is_client_susbended || (sale.client_payment_type =='cash' && sale.total != sale.total_paid))  
            && _PermissionService.hasPermission('sale_bills' , 'edit_sale_bills')"  
            class="btn btn-danger" (click)="ManageChangeStatus('rejected',sale.id)">
              reject
            </a>
            <a *ngIf="status == 'rejected'  && _PermissionService.hasPermission('sale_bills' , 'edit_sale_bills')" class="btn btn-success" (click)="ManageChangeStatus('waiting',sale.id)">
              waiting
            </a>




            <a *ngIf="_PermissionService.hasPermission('sale_bills' , 'details_sale_bills')"  class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/showSale', sale.id]">
              <i class="fa-solid fa-eye btn1 bg-primary rounded" title="{{ 'VIEW' | translate }}"></i>
            </a>
            <a  *ngIf="status != 'approved'  && _PermissionService.hasPermission('sale_bills' , 'edit_sale_bills')" class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/updateSale', sale.id]">
              <i class="fa-solid fa-pencil btn1 bg-success rounded" title="{{ 'EDIT' | translate }}"></i>
            </a>
            <i  *ngIf="status != 'approved'"
              class="fa-solid fa-trash-can btn1 bg-danger rounded"
              (click)="deleteSale(sale.id)"
              title="{{ 'DELETE' | translate }}"
            ></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>