span {
    font-size: 12px ;
}
label{
    font-size: 14px;
    margin-top:15px;
}
.card-header h5 {
    font-size: 15px;
  
    
  }
  .card-header {
    position: relative;
  }
  .card-header ::after {
    content: '';         
    position: absolute;
    top: 25%;               
    left:0 ;              
    height: 50%;          
    width: 3px;           
    background-color: #145388; 
  }
  .modal-body ul.list-group-item {
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .modal-body ul.list-group-item:hover {
    background-color: #f8f9fa;
  }




  .file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px dashed #007bff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    max-width: 400px;
    margin: auto;
  }
  
  .file-upload-container:hover {
    background-color: #f8f9fa;
  }
  
  .file-upload-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    color: #007bff;
    font-weight: bold;
  }
  
  .file-upload-input {
    display: none;
  }
  
  .file-upload-label i {
    font-size: 2rem;
    margin-bottom: 5px;
  }
  
  .preview-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .preview-item img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  