<div class="mt-3 mb-3">
  <h5>{{ 'MANAGE_ACCOUNTING' | translate }}</h5>
  <span class="text-muted">{{ 'DASHBOARD' | translate }} <i [ngClass]="'fa-solid ' + ('icon-class' | translate)" ></i> {{ 'ACCOUNTING' | translate }} <i [ngClass]="'fa-solid ' + ('icon-class' | translate)" ></i> {{ 'CREATE_ACCOUNT' | translate }}</span>
</div>
<div class="mt-4 mb-4">
  <form [formGroup]="accountForm" (ngSubmit)="handleForm()">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card shadow em-card rounded-lg">
            <div class="card-header bg-white text-black rounded-top pt-3 ">
              <h5>{{ 'ACCOUNT_DETAILS' | translate }}</h5>
            </div>
            <div class="card-body pb-5">
              <div class="row">
                <div *ngIf="type != 'all' && currentAccount" class="form-group col-md-6">
                  <strong>{{ 'PARENT_ACCOUNT' | translate }}:</strong> {{currentAccount.name_ar}}
                </div>
                <div *ngIf="type != 'all' && currentAccount" class="form-group col-md-6">
                  <strong>{{ 'PARENT_ID' | translate }}:</strong> {{currentAccount.id}}
                </div>
                <div class="form-group col-md-6">
                  <label for="name_ar" class="form-label">{{ 'NAME_AR' | translate }}</label>
                  <input id="name_ar" formControlName="name_ar" type="text" class="form-control" placeholder="{{ 'ENTER_ACCOUNT_NAME' | translate }}" />
                  <div class="alert alert-danger" *ngIf="accountForm.get('name_ar')?.errors && accountForm.get('name_ar')?.touched">
                    <p *ngIf="accountForm.get('name_ar')?.hasError('required')">{{ 'ARABIC_NAME_REQUIRED' | translate }}</p>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="name_en" class="form-label">{{ 'NAME_EN' | translate }}</label>
                  <input id="name_en" formControlName="name_en" type="text" class="form-control" required placeholder="{{ 'ENTER_ACCOUNT_NAME_en' | translate }}" />
                </div>
                <div class="form-group col-md-6">
                  <label for="net_balance" class="form-label">{{ 'BALANCE' | translate }}</label>
                  <input id="net_balance" formControlName="net_balance" type="number" class="form-control" placeholder="{{ 'ENTER_BALANCE' | translate }}" />
                  <div class="alert alert-danger" *ngIf="accountForm.get('net_balance')?.errors && accountForm.get('net_balance')?.touched">
                    <p *ngIf="accountForm.get('net_balance')?.hasError('required')">{{ 'BALANCE_REQUIRED' | translate }}</p>
                    <p *ngIf="accountForm.get('net_balance')?.hasError('min')">{{ 'MIN_IS_0' | translate }}</p>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label class="form-label">{{ 'SELECT_CURRENCY' | translate }}</label>
                  <select class="form-control" (change)="onCurrencyChange($event)"   formControlName="currency_id">
                    <option>{{ 'SELECT_CURRENCY' | translate }}</option>
                    <option *ngFor="let currency of currencies" [value]="currency.id">{{ currency.currency_name_ar }}
                    </option>
                  </select>
                  <div *ngIf="submitted && !selectedCurrency " class="form-group ">
                   
                    <div class="alert alert-danger text-center">{{ 'NEED_TO_SELECT_CURRENCY' | translate }}</div>
                  </div>                
                </div>

                  <div *ngIf="type == 'all' " class="form-group col-md-6">
                    <label class="form-label">{{ 'MAIN_GROUP' | translate }}</label>
                    <select class="form-control" formControlName="groupId" (change)="onGroupChange($event)">
                      <option  *ngFor="let group of mainGroups" [value]="group.id">{{ group.name }}</option>
                    </select>
                  </div>
                  <div *ngIf="type != 'all' && currentAccount" class="form-group col-md-6 mt-3">
                    <strong>{{ 'MAIN_GROUP' | translate }}:</strong> (id:{{currentAccount.group.id}}): {{currentAccount.group.name}}
                  </div> 

                  <div *ngIf="subGroups.length" class="form-group col-md-6">
                    <label class="form-label">
                      {{ 'SELECT_ACCOUNT_GROUP' | translate }}
                    </label>
                    <select class="form-control" (change)="onSubGroupChange($event)" formControlName="group_branch_Id">
                      <option>{{ 'SELECT_GROUP' | translate }}</option>
                      <option *ngFor="let group of subGroups" [value]="group.id">{{ group.name }}</option>
                    </select>
                  </div>
                  <div *ngIf="!subGroups.length" class="form-group col-md-6">
                    <label class="form-label">
                      {{ 'SELECT_MAIN_GROUP_THEN_THIS' | translate }}
                    </label>
                    <div class="alert alert-warning text-center">{{ 'NO_GROUPS_IN_SELECTED_MAIN_GROUP' | translate }}</div>
                  </div>
                  <div *ngIf="submitted && !selectedGroup " class="form-group col-md-6">
                   
                    <div class="alert alert-danger text-center">{{ 'NEED_TO_SELECT_GROUP' | translate }}</div>
                  </div>

                  <div *ngIf="type === 'all'" class="form-group col-md-6">
                    <label class="form-label">{{ 'SELECT_TYPE' | translate }}</label>
                    <select class="form-control" formControlName="type" (change)="onTypeChange($event)">
                      <option>{{ 'SELECT_TYPE' | translate }}</option>
                      <option value="main">{{ 'MAIN' | translate }}</option>
                      <option value="branch">{{ 'BRANCH' | translate }}</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6" *ngIf="isBranchSelected">
                    <label class="form-label">{{ 'PARENT_BRANCH' | translate }}</label>
                    <select class="form-control" formControlName="parent_id">
                      <option>{{ 'SELECT_PARENT_BRANCH' | translate }}</option>
                      <ng-container *ngFor="let parent of hierarchicalAccounts">
                        <option [ngValue]="parent.id">{{ parent.name_ar }}</option>
                        <ng-container *ngFor="let child of parent.children">
                          <option [ngValue]="child.id">--&nbsp;&nbsp;{{ child.name_ar }}</option>
                          <ng-container *ngFor="let subChild of child.children">
                            <option [ngValue]="subChild.id">----&nbsp;&nbsp;&nbsp;&nbsp;{{ subChild.name_ar }}</option>
                            <!-- Continue nesting for deeper levels if needed -->
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="additionalInformation" class="row mt-5">
          <div class="col-md-12">
            <div class="card shadow em-card rounded-lg">
              <div class="card-header bg-white text-black rounded-top pt-3 ">
                <h5>{{ 'ADDITIONAL_INFORMATION' | translate }}</h5>
              </div>
              <div class="card-body pb-5">
                <div class="row">
                  <div class="col-md-12">
                    <div formArrayName="phones">
                      <div *ngFor="let phone of phones.controls; let i = index" [formGroupName]="i" class="form-group col-md-12">
                        <label class="form-label">{{ 'PHONE' | translate }} {{ i + 1 }}</label>
                        <div class="input-group">
                          <input type="text" class="form-control" formControlName="phone" placeholder="{{ 'ENTER_PHONE_NUMBER' | translate }}" />
                          <select class="form-select ms-2" formControlName="type">
                            <option value="phone">{{ 'PHONE' | translate }}</option>
                            <option value="mobile">{{ 'MOBILE' | translate }}</option>
                          </select>
                          <div class="input-group-append ms-3">
                            <button type="button" class="btn btn-success" (click)="addPhoneNumber()">+</button>
                            <button type="button" class="btn btn-danger ml-2" (click)="removePhoneNumber(i)">-</button>
                          </div>
                        </div>
                        <div class="alert alert-danger" *ngIf="phones.at(i)?.get('phone')?.errors && phones.at(i)?.get('phone')?.touched">
                          <p *ngIf="phones.at(i)?.get('phone')?.hasError('required')">{{ 'PHONE_REQUIRED' | translate }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <h6 class="mt-4">{{ 'ADDRESS' | translate }}</h6>
                <div formArrayName="addresses">
                  <div *ngFor="let address of addresses.controls; let i = index" [formGroupName]="i" class="form-group col-md-12">
                    <label class="form-label">{{ 'ADDRESS' | translate }} {{ i + 1 }}</label>
                    <div class="input-group">
                      <input type="text" class="form-control" formControlName="address" placeholder="{{ 'ENTER_ADDRESS' | translate }}" />
                      <select formControlName="city_id" class="form-control ms-2">
                        <option value="" disabled>{{ 'SELECT_COUNTRY_AND_CITY' | translate }}</option>
                        <optgroup *ngFor="let country of countries" [label]="country">
                          <option *ngFor="let city of citiesByCountry[country]" [value]="city.id">{{ city.city }}</option>
                        </optgroup>
                      </select>
                      <button type="button" class="btn btn-success ms-2" (click)="addAddress()">+</button>
                      <button type="button" class="btn btn-danger ms-2" (click)="removeAddress(i)">-</button>
                    </div>
                    <div *ngIf="address.get('address')?.hasError('required') && address.get('address')?.touched" class="text-danger">
                      {{ 'ADDRESS_REQUIRED' | translate }}
                    </div>
                    <div *ngIf="address.get('city_id')?.hasError('required') && address.get('city_id')?.touched" class="text-danger">
                      {{ 'CITY_REQUIRED' | translate }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6" *ngIf="currentAccount?.id == 623 || currentAccount?.id == 611">
                    <label class="form-label">{{ 'PRICE_CATEGORY' | translate }}</label>
                    <select class="form-control" formControlName="category_price_id">
                      <option>{{ 'SELECT_PRICE_CATEGORY' | translate }}</option>
                      <option *ngFor="let priceCategory of priceCategories" [value]="priceCategory.id">{{ priceCategory.name }}</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6" *ngIf="currentAccount?.id == 611">
                    <label class="form-label">{{ 'DELEGATES' | translate }}</label>
                    <select class="form-control" formControlName="delegate_id">
                      <option>{{ 'SELECT_DELEGATES' | translate }}</option>
                      <option *ngFor="let delegate of delegates" [value]="delegate.id">{{ delegate.name_ar }}</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6" (change)="onPayTypeChange($event)" *ngIf=" currentAccount?.id == 611">
                    <label class="form-label"> نوع الدفع </label>
                    <select class="form-control" formControlName="paid_type">
                      <option disabled> اختر نوع الدفع</option>
                      <option  value="invoice">بالفاتورة</option>
                      <option  value="monthly">شهريا</option>
                      <!-- <option  [value]="invoice">بالفاتورة</option> -->

                    </select>
                  </div>

                  <div class="form-group col-md-6" *ngIf="selectedPayType == 'invoice'">
                    <label class="form-label">عدد الفواتير</label>
                      <input id="invoice_number" formControlName="invoice_number" type="text" class="form-control" placeholder="عدد الفواتير المسموح به" />
                  </div>

                  <div *ngIf="currentAccount?.id == 622" class="col-md-12">
                    <div class="form-group">
                      <label for="id_number" class="form-label">{{ 'ID_NUMBER' | translate }}</label>
                      <input id="id_number" formControlName="id_number" type="text" class="form-control" placeholder="{{ 'ENTER_ID_NUMBER' | translate }}" />
                    </div>
                    <div class="form-group">
                      <label for="birthdate" class="form-label">{{ 'BIRTHDATE' | translate }}</label>
                      <input id="birthdate" formControlName="birthdate" type="date" class="form-control" placeholder="{{ 'ENTER_BIRTHDATE' | translate }}" />
                    </div>
                    <div class="form-group d-flex align-items-center gap-2">
                      <label for="on_job" class="form-label">{{ 'ON_JOB' | translate }}</label>
                      <input id="on_job" formControlName="on_job" type="checkbox" class="form-check-input" />
                    </div>
                    <div class="form-group">
                      <label for="salary" class="form-label">{{ 'SALARY' | translate }}</label>
                      <input id="salary" formControlName="salary" type="number" class="form-control" placeholder="{{ 'ENTER_SALARY' | translate }}" />
                    </div>
                    <div class="form-group">
                      <label for="start_date" class="form-label">{{ 'START_DATE' | translate }}</label>
                      <input id="start_date" formControlName="start_date" type="date" class="form-control" />
                    </div>
                    <div class="form-group">
                      <label for="end_date" class="form-label">{{ 'END_DATE' | translate }}</label>
                      <input id="end_date" formControlName="end_date" type="date" class="form-control" />
                    </div>
                    <div class="form-group">
                      <label for="start_work" class="form-label">{{ 'START_WORK' | translate }}</label>
                      <input id="start_work" formControlName="start_work" type="time" class="form-control" />
                    </div>
                    <div class="form-group">
                      <label for="end_work" class="form-label">{{ 'END_WORK' | translate }}</label>
                      <input id="end_work" formControlName="end_work" type="time" class="form-control" />
                    </div>
                    <div class="form-group">
                      <label for="name" class="form-label">{{ 'NAME' | translate }}</label>
                      <input id="name" formControlName="name" type="text" class="form-control" placeholder="{{ 'ENTER_NAME' | translate }}" />
                    </div>
                    <div class="form-group text-center col-md-12">
                      <label for="image" class="form-label"><i class="fa-solid fa-image"></i> {{ 'EMPLOYEE_IMAGE' | translate }}</label>
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="image" (change)="onFileSelected($event)" accept="image/*" required style="display: none;">
                        <label for="image" class="btn btn-image">
                          <i class="fa-solid fa-file-arrow-up"></i> {{ 'CHOOSE_FILE' | translate }}
                        </label>
                        <span id="file-name">{{ selectedFile?.name || 'NO_FILE_CHOSEN' | translate }}</span>
                      </div>
                      <div class="alert alert-danger" *ngIf="accountForm.get('image')?.errors && accountForm.get('image')?.touched">
                        <p *ngIf="accountForm.get('image')?.getError('invalidFileType')">{{ 'INVALID_IMAGE_FORMAT' | translate }}</p>
                        <p *ngIf="accountForm.get('image')?.getError('fileTooLarge')">{{ 'FILE_TOO_LARGE' | translate }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-12" *ngIf="currentAccount?.id == 121">
                    <div class="form-group d-flex align-items-center gap-2">
                      <label for="exception_consumption" class="form-label">{{ 'EXCEPTION_CONSUMPTION' | translate }}</label>
                      <input id="exception_consumption" type="checkbox" formControlName="exception_consumption" class="form-check-input" (change)="toggleInputs($event)" />
                    </div>
                    <div class="form-group">
                      <label for="start_consumption" class="form-label">{{ 'START_CONSUMPTION' | translate }}</label>
                      <input id="start_consumption" type="date" class="form-control" formControlName="start_consumption" />
                    </div>
                    <div class="form-group">
                      <label for="number" class="form-label">{{ 'NUMBER' | translate }}</label>
                      <input id="number" type="number" class="form-control" placeholder="{{ 'ENTER_SALARY' | translate }}" formControlName="number" />
                    </div>
                    <div class="form-group">
                      <label for="percentage" class="form-label">{{ 'PERCENTAGE' | translate }}</label>
                      <input id="percentage" min="0" max="100" type="number" class="form-control" placeholder="{{ 'ENTER_SALARY' | translate }}" formControlName="percentage" />
                    </div>
                    <div class="form-group">
                      <label class="form-label">{{ 'SELECT_DISPOSABLES' | translate }}</label>
                      <select class="form-control" formControlName="consumption_complex_account_id">
                        <option>{{ 'SELECT_DISPOSABLES' | translate }}</option>
                        <option *ngFor="let disosable of disosables" [value]="disosable.id">{{ disosable.name_ar }}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label class="form-label">{{ 'SELECT_EXPENSES' | translate }}</label>
                      <select class="form-control" formControlName="consumption_expense_account_id">
                        <option>{{ 'SELECT_EXPENSES' | translate }}</option>
                        <option *ngFor="let expense of expenses" [value]="expense.id">{{ expense.name_ar }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group col-md-6" *ngIf="currentAccount?.id == 623">
                    <label class="form-label">{{ 'SELECT_STORE' | translate }}</label>
                    <select class="form-control" formControlName="store_id">
                      <option>{{ 'SELECT_STORE' | translate }}</option>
                      <ng-container *ngFor="let parent of hierarchicalStores">
                        <option [ngValue]="parent.id">{{ parent.name_en }}</option>
                        <ng-container *ngFor="let child of parent.children">
                          <option [ngValue]="child.id">-{{ child.name_en }}</option>
                          <ng-container *ngFor="let subChild of child.children">
                            <option [ngValue]="subChild.id">--{{ subChild.name_en }}</option>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-4 mb-4">
          <button [disabled]="accountForm.invalid" type="submit" class="btn btn-primary px-4">
            <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i> {{ 'SAVE' | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>