<nav class="navbar navbar-expand-lg  shadow rounded" style="width: 90%; margin: 20px auto;">
    <div class="container">
        
      <a class="navbar-brand" href="#">
        <img src="images/logoallparts.png" class="logoimg"/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
     
      </div>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item dropdown rounded">
            <a 
              class="nav-link dropdown-toggle" 
              role="button" 
              (click)="toggleLanguageDropdown()"
              aria-expanded="false"
            >
              {{ 'LANGUAGE' | translate }}

            </a>
            <ul 
              class="dropdown-menu" 
              [class.show]="isLanguageDropdownOpen"
              [attr.aria-hidden]="!isLanguageDropdownOpen"
            >
              <li>
                <a 
                  class="dropdown-item" 
                  (click)="switchLanguage('ar')"
                >
                  عربى
                </a>
              </li>
              <li>
                <a 
                  class="dropdown-item" 
                  (click)="switchLanguage('en')"
                >
                  English
                </a>
              </li>
            </ul>
          </li>
        </ul>
    </div>
  </nav>
