span {
    font-size: 12px ;
  }
  .iconPlus{
    background-color: #003E29;
    padding: 11px;
    font-size: 10px;
  
  }
  .vendortable{
    background-color: #FFFFFF;
  }
  .search{
    width:20%;
  }
  .search {
    border-radius: 20px;
    padding: 0.5rem 1rem;
    max-width: 300px;
  }
  .btn1{
    color:white;
    padding: 5px;
  }
  i{
    cursor: pointer;
  }
  
  
  thead {
    background-color:black !important;
  }
  tr,th,td{
    text-align: center;
  }



  .nav-link.active {
    font-weight: bold;
    background-color: #003E29 !important;
    color: white !important;
    border-bottom: 2px solid #003E29 !important;
}
  
  
  .nav-link {
    
    color: #6c757d; /* Gray text */
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    background-color: #003E29; 
    cursor: pointer;
  
  }