<div class="d-flex justify-content-between align-items-center mb-3">
  <div>
    <h5>{{ 'MANAGE_PRODUCT_BRANCH' | translate }}</h5>
    <span class="text-muted">
      {{ 'DASHBOARD' | translate }} <i [ngClass]="'fa-solid ' + ('ICON_CLASS' | translate)"></i> {{ 'BRANCHES' |
      translate }}
    </span>
  </div>
  <a *ngIf="_PermissionService.hasPermission('product_branches' , 'add_product_branches')" class="nav-link" routerLinkActive="active" routerLink="/dashboard/addProductBranch">
    <i class="fa-solid fa-plus text-white iconPlus rounded"></i>
  </a>
</div>


<div *ngIf="_PermissionService.hasPermission('product_branches' , 'edit_product_branches')"  class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center  py-3 mb-4 border-bottom">
    <a (click)="openModal('ImportForm')" class="btn btn-outline-info ms-2">
      export or import product Branches
    </a>
  </header>
</div>




<div class="vendortable rounded mt-4 shadow-sm p-4 bg-white">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <span class="fw-bold">{{ 'BRANCHES_LIST' | translate }}</span>
      <input class="form-control search w-25" type="search" [(ngModel)]="searchQuery"
        placeholder="{{ 'SEARCH' | translate }}" aria-label="Search">
    </div>
  </div>

  <table class="table mt-3">
    <thead>
      <tr>
        <th class="bg-light" scope="col">ID</th>
        <th class="bg-light" scope="col">{{ 'PRODUCT' | translate }}</th>
        <th class="bg-light" scope="col">{{ 'AMOUNT' | translate }}</th>
        <th class="bg-light" scope="col">{{ 'COLOR' | translate }}</th>
        <th class="bg-light" scope="col">{{ 'ACTIONS' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let branch of branches; let i = index">
        <th scope="row">{{ branch.code }}</th>
        <td>{{ branch.product.name }}</td>
        <td>{{ branch.stock }}</td>
        <td>{{ branch.product_color?.color?.color ?? "N/A"}}</td>
        <td class="d-flex justify-content-center gap-3 align-items-center">
          <a  *ngIf="_PermissionService.hasPermission('product_branches' , 'details_product_branches')"  class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/showProductBranch', branch.id]">
            <i class="fa-solid fa-eye btn1 bg-primary rounded" title="{{ 'VIEW_BRANCH' | translate }}"></i>
          </a>
          <a  *ngIf="_PermissionService.hasPermission('product_branches' , 'edit_product_branches')"  class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/updateProductBranch', branch.id]">
            <i class="fa-solid fa-pencil btn1 bg-success rounded" title="{{ 'EDIT' | translate }}"></i>
          </a>
          <i  *ngIf="_PermissionService.hasPermission('product_branches' , 'delete_product_branches')"  class="fa-solid fa-trash-can btn1 bg-danger rounded" (click)="deleteBranch(branch.id)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="ImportForm" tabindex="-1" aria-labelledby="shiftModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shiftModalLabel">{{ 'ImportForm' | translate }}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal('ImportForm')"></button>
      </div>
      <div class="modal-body">



        <div class="mt-4 mb-4">
          <form [formGroup]="productImportForm" (ngSubmit)="handleForm()">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="card shadow em-card rounded-lg">
                    <div class="card-header bg-white text-black rounded-top pt-3">
                      <h5> {{ 'Export_and_Import_product_Branch' | translate }}</h5>
                    </div>
                    <div class="card-body pb-5">
                      <div class="row">


                        <div class="form-group col-md-6">
                          <label for="template" class="form-label">{{ 'TEMPLATE' | translate }}</label>
                          <select id="template" formControlName="template" class="form-control">
                            <option value="1">{{ 'PRICES_ORDERED_BY_PRODUCTS' | translate }}</option>
                            <option value="2">{{ 'PRICES_ORDERED_BY_CATEGORIES' | translate }}</option>
                            <option value="3">{{ 'BRANCHES_ALL_DATA_TEMPLATE1' | translate }}</option>
                            <option value="4">{{ 'BRANCHES_SINGLE_PRICE_TEMPLATE' | translate }}</option>
                            <option value="5">{{ 'BRANCHES_ALL_DATA_TEMPLATE2' | translate }}</option>
                          </select>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="file_name" class="form-label">{{ 'FILE_NAME' | translate }}</label>
                          <input type="text" id="file_name" formControlName="file_name" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="file" class="form-label">{{ 'FILE_TO_IMPORT' | translate }}</label>
                          <input id="file" formControlName="file" type="file" class="form-control" accept=".xlsx,.csv"
                            required (change)="onFileColorSelect($event)"
                            [class.is-invalid]="productImportForm.get('file')?.errors && isSubmitted" />

                          <div class="invalid-feedback" *ngIf="productImportForm.get('file')?.errors && isSubmitted">
                            <p>
                              {{ 'FILE_TO_IMPORT' | translate }} {{ 'IS_REQUIRED' | translate }}
                            </p>

                          </div>
                        </div>
                        <div class="form-group col-md-6" *ngIf="selectedTemplate == '5' || selectedTemplate == '3'">
                          <label for="product_id" class="form-label">{{ 'SELECT_PRODUCT' | translate }}</label>
                          <select class="form-control" formControlName="product_id">
                            <option disabled>{{ 'SELECT_PRODUCT' | translate }}</option>
                            <option *ngFor="let product of Products" [value]="product.id">{{ product.name }}</option>
                          </select>
                        </div>
                        
                        

                        <div class="form-group col-md-6 mt-2">
                          <label for="file" class="form-label">{{ 'ACTION' | translate }}</label>
                          <br>
                          <a (click)="handleExport()" class="btn btn-outline-success me-3">{{ 'EXPORT' | translate }}</a>
                          <a  (click)="handleForm()" class="btn btn-outline-info">{{ 'IMPORT' | translate }}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

