<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h5>{{ 'MANAGE_PRODUCT_BRANCH' | translate }}</h5>
        <span class="text-muted">
            {{ 'DASHBOARD' | translate }} <i [ngClass]="'fa-solid ' + ('ICON_CLASS' | translate)"></i> {{ 'BRANCHES' | translate }}
        </span>
    </div>
    <a class="nav-link" routerLinkActive="active" routerLink="/dashboard/addProductBranch">
        <i class="fa-solid fa-plus text-white iconPlus rounded"></i>
    </a>
</div>

<div class="vendortable rounded mt-4 shadow-sm p-4 bg-white">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="fw-bold">{{ 'BRANCHES_LIST' | translate }}</span>
            <input class="form-control search w-25" type="search" [(ngModel)]="searchQuery"  placeholder="{{ 'SEARCH' | translate }}" aria-label="Search">
        </div>
    </div>

    <table class="table mt-3">
        <thead>
            <tr>
                <th class="bg-light" scope="col">#</th>
                <th class="bg-light" scope="col">{{ 'PRODUCT' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'STORE' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'OVERRIDE' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'AMOUNT' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'ACTIONS' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let branch of branches; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ branch.product.name }}</td>
                <td>{{ branch.store_id }}</td>
                <td>{{ branch.stock }}</td>
                <td>{{ branch.store.name }}</td>

                <td class="d-flex justify-content-center gap-3 align-items-center">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/showProductBranch', branch.id]">
                        <i class="fa-solid fa-eye btn1 bg-primary rounded" title="{{ 'VIEW_BRANCH' | translate }}"></i>
                    </a>
                    <i class="fa-solid fa-trash-can btn1 bg-danger rounded" (click)="deleteBranche(branch.id)"></i>
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/updateProductBranch', branch.id]">
                        <i class="fa-solid fa-pencil btn1 bg-success rounded" title="{{ 'EDIT' | translate }}"></i>
                      </a>
                    
                </td>
            </tr>
        </tbody>
    </table>
</div>