<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h5>{{ 'MANAGE_PRODUCT_CATEGORIES' | translate }}</h5>
        <span class="text-muted">{{ 'DASHBOARD' | translate }} <i [ngClass]="'fa-solid ' + ('icon-class' | translate)"></i> {{ 'CATEGORIES' | translate }}</span>
    </div>
    <a *ngIf="_PermissionService.hasPermission('product_categories' , 'add_product_categories')" class="nav-link" routerLinkActive="active" routerLink="/dashboard/addCategory">
        <i class="fa-solid fa-plus text-white iconPlus rounded"></i>
    </a>
</div>

<div class="vendortable rounded mt-4 shadow-sm p-4 bg-white">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="fw-bold">{{ 'CATEGORIES_LIST' | translate }}</span>
            <input class="form-control search w-25" type="search" placeholder="{{ 'SEARCH' | translate }}" aria-label="Search" [(ngModel)]="searchTerm" (input)="searchCategories()">
        </div>
    </div>

    <table class="table mt-3">
        <thead>
            <tr>
                <th class="bg-light" scope="col">Code</th>
                <th class="bg-light" scope="col">{{ 'CATEGORY_NAME' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'IMAGE' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'ACTIONS' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of filteredCategories; let i = index">
                <th scope="row">{{ category.id }}</th>
                <td>{{ category.name }}</td>
                <td>
                    <img *ngIf="category.image" [src]="category.image" alt="{{ category.name }}" class="img-thumbnail" style="width: 50px; height: 50px;">
                </td>
                <td class="d-flex justify-content-center gap-3 align-items-center">
                    <a *ngIf="_PermissionService.hasPermission('product_categories' , 'edit_product_categories')" class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/updateproductCategory', category.id]">
                        <i class="fa-solid fa-pencil btn1 bg-success rounded"></i>
                    </a>
                    <i *ngIf="_PermissionService.hasPermission('product_categories' , 'delete_product_categories')" class="fa-solid fa-trash-can btn1 bg-danger rounded" (click)="deleteCategory(category.id)"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
