<div class="mt-3 mb-3">
  <h5>{{ 'CUSTOMER_DETAILS' | translate }}</h5>
  <span class="text-muted">{{ 'DASHBOARD' | translate }} <i [ngClass]="'fa-solid ' + ('icon-class' | translate)"></i> {{ 'CUSTOMER' | translate }} <i [ngClass]="'fa-solid ' + ('icon-class' | translate)"></i> {{ 'SHOW_CUSTOMER' | translate }}</span>
</div>

<div class="mt-4 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card shadow em-card rounded-lg">
          <div class="card-header bg-white text-black rounded-top pt-3">
            <h5>{{ 'PERSONAL_DETAILS' | translate }}</h5>
          </div>
          <div class="card-body pb-5">
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="fw-bold">{{ 'USERNAME' | translate }}:</label>
                  <p class="text-muted">johndoe123</p>
                </div>
                <div class="mb-3">
                  <label class="fw-bold">{{ 'NAME' | translate }}:</label>
                  <p class="text-muted">John Doe</p>
                </div>
                <div class="mb-3">
                  <label class="fw-bold">{{ 'NAME_EN' | translate }}:</label>
                  <p class="text-muted">John Doe</p>
                </div>
                <div class="mb-3">
                  <label class="fw-bold">{{ 'CURRENCY' | translate }}:</label>
                  <p class="text-muted">USD</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="fw-bold">{{ 'PHONE_NUMBERS' | translate }}:</label>
                  <ul class="list-group">
                    <li class="list-group-item text-muted">+1 234-567-8901</li>
                    <li class="list-group-item text-muted">+1 987-654-3210</li>
                  </ul>
                </div>
                <div class="mb-3">
                  <label class="fw-bold">{{ 'GROUP' | translate }}:</label>
                  <p class="text-muted">Group 1</p>
                </div>
                <div class="mb-3">
                  <label class="fw-bold">{{ 'VENDOR' | translate }}:</label>
                  <p class="text-muted">Vendor 1</p>
                </div>
              </div>
            </div>
            <h6 class="mt-4">{{ 'ADDRESS' | translate }}</h6>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="fw-bold">{{ 'COUNTRY_CITY' | translate }}:</label>
                  <p class="text-muted">Country 1, City 1-1</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-4 mb-4">
      <a class="nav-link" routerLinkActive="active" routerLink="/dashboard/customer">
        <button type="button" class="btn btn-primary px-4">{{ 'BACK' | translate }}</button>
      </a>
    </div>
  </div>
</div>
