<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h5>{{ 'MANAGE_PRODUCT_UNITS' | translate }}</h5>
        <span class="text-muted">{{ 'DASHBOARD' | translate }} <i [ngClass]="'fa-solid ' + ('icon-class' | translate)"></i> {{ 'UNITS' | translate }}</span>
    </div>
    <a class="nav-link" routerLinkActive="active" routerLink="/dashboard/addProductUnit">
        <i class="fa-solid fa-plus text-white iconPlus rounded"></i>
    </a>
</div>

<div class="vendortable rounded mt-4 shadow-sm p-4 bg-white">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="fw-bold">{{ 'UNITS_LIST' | translate }}</span>
            <input class="form-control search w-25" type="search" placeholder="{{ 'SEARCH' | translate }}" aria-label="Search" [(ngModel)]="searchTerm" (input)="searchUnits()">
        </div>
    </div>

    <table class="table mt-3">
        <thead>
            <tr>
                <th class="bg-light" scope="col">#</th>
                <th class="bg-light" scope="col">{{ 'UNIT_NAME' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'ACTIONS' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let unit of filteredUnits; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ unit.unit }}</td>
                <td class="d-flex justify-content-center gap-3 align-items-center">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/updateProductUnit', unit.id]">
                        <i class="fa-solid fa-pencil btn1 bg-success rounded"></i>
                    </a>
                    <i class="fa-solid fa-trash-can btn1 bg-danger rounded" (click)="deleteUnit(unit.id)"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>