<div class="mt-4 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card shadow em-card rounded-lg">
          <div class="card-header bg-white text-black rounded-top pt-3">
            <h5>{{ 'STORE_INFORMATION' | translate }}</h5>
          </div>
          <div class="card-body pb-5">
            <div class="row">
              <!-- Left Column -->
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="fw-bold">{{ 'STORE_NAME' | translate }}:</label>
                  <p class="text-muted">{{ storeData?.name }}</p>
                </div>
                <div class="mb-3">
                  <label class="fw-bold">{{ 'MANAGER_NAME' | translate }}:</label>
                  <p class="text-muted">{{ storeData?.manager_name }}</p>
                </div>
                <div class="mb-3">
                  <label class="fw-bold">{{ 'PHONE_NUMBER' | translate }}:</label>
                  <p class="text-muted">{{ storeData?.phone }}</p>
                </div>
                <div class="mb-3">
                  <label class="fw-bold">{{ 'NOTE' | translate }}:</label>
                  <p class="text-muted">{{ storeData?.note }}</p>
                </div>
                <div class="mb-3">
                  <label class="fw-bold">{{ 'CREATED_AT' | translate }}:</label>
                  <p class="text-muted">{{ storeData?.created_at }}</p>
                </div>
              </div>

              <!-- Right Column -->
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="fw-bold">{{ 'CITY_NAME' | translate }}:</label>
                  <p class="text-muted">{{ storeData?.city?.name }}</p>
                </div>
                <div class="mb-3">
                  <label class="fw-bold">{{ 'COUNTRY_NAME' | translate }}:</label>
                  <pre class="text-muted">{{ storeData?.city?.country?.name }}</pre>
                </div>
                <div class="mb-3">
                  <label class="fw-bold">{{ 'ADDRESS_DESCRIPTION' | translate }}:</label>
                  <p class="text-muted">{{ storeData?.address_description }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Back Button -->
    <div class="mt-4 mb-4">
      <a class="nav-link" routerLinkActive="active" routerLink="/dashboard/stores">
        <button type="button" class="btn btn-primary px-4">{{ 'BACK' | translate }}</button>
      </a>
    </div>
  </div>
</div>
