
<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h5>{{ 'BANKS' | translate }}</h5>
        <span class="text-muted large-text">{{ 'DASHBOARD' | translate }} <i [ngClass]="'fa-solid ' + ('ICON_CLASS' | translate)" ></i> {{'BANKS' | translate}} </span>

    </div>
    <a class="nav-link" routerLinkActive="active" routerLink="/dashboard/addBank">
        <i class="fa-solid fa-plus text-white iconPlus rounded"></i>
    </a>
</div>

<div class="vendortable rounded mt-4 shadow-sm p-4 bg-white">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="fw-bold">{{ 'BANK_LIST' | translate }}</span>
            <input class="form-control search w-25" 
            type="search" 
            placeholder="search" 
            aria-label="Search"
            [(ngModel)]="searchQuery" 
            (ngModelChange)="filterBanks()">
            <!-- <input class="form-control search w-25" type="search" placeholder="search" aria-label="Search"> -->
        </div>
    </div>

    <table class="table mt-3">
        <thead>
            <tr>
                <th class="bg-light" scope="col">#</th>
                <th class="bg-light" scope="col">{{ 'BANK_NAME_AR' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'BANK_NAME_EN' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'BANK_TYPE' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'ACTIONS' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bank of filteredBanks; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ bank.aribic_name }}</td>
                <td>{{ bank.english_name }}</td>
                <td>{{ bank.type_bank }}</td>
                <td class="d-flex justify-content-center gap-3 align-items-center">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/updateBank', bank.id]">
                        <i class="fa-solid fa-pencil btn1 bg-success rounded" title="{{ 'EDIT_BANK' | translate }}"></i>
                    </a>
                    <i class="fa-solid fa-trash-can btn1 bg-danger rounded" (click)="deleteBank(bank.id)" title="{{ 'DELETE_BANK' | translate }}"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>