<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h5>{{ 'paymentDocuments.MANAGE_PAYMENT_DOCUMENTS' | translate }}</h5>
        <span class="text-muted">{{ 'paymentDocuments.DASHBOARD' | translate }} <i class="fa-solid fa-angle-right"></i>{{ 'paymentDocuments.PAYMENT_DOCUMENT' | translate }}</span>
    </div>
    <!-- <a class="nav-link" [routerLink]="addDocumentRouterLink">
      <i class="fa-solid fa-plus text-white iconPlus rounded"></i>
    </a> -->
  </div> 
  
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li>
          <a 
            (click)="changeStatus('payment_check')" 
            class="nav-link px-2"
            [ngClass]="{'active-tab': type === 'payment_check', 'inactive-tab': type !== 'payment_check'}"
          >
            {{ 'PAYMENT_CHECK' | translate }}
          </a>
        </li>
        <li>
          <a 
            (click)="changeStatus('receipt_check')" 
            class="nav-link px-2"
            [ngClass]="{'active-tab': type === 'receipt_check', 'inactive-tab': type !== 'receipt_check'}"
          >
            {{ 'RECEIPT_CHECK' | translate }}
          </a>
        </li>
        <li>
          <a 
            (click)="changeStatus('entry')" 
            class="nav-link px-2"
            [ngClass]="{'active-tab': type === 'entry', 'inactive-tab': type !== 'entry'}"
          >
            {{ 'ENTRY_CHECK' | translate }}
          </a>
        </li>
      </ul>
      
  
    </header>
  </div>
  
  
  
  <div class="vendortable rounded mt-4 shadow-sm p-4 bg-white">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="fw-bold">{{ 'paymentDocuments.Documents_List' | translate }}</span>
            <input class="form-control search w-25" type="search" placeholder="Search..." aria-label="Search">
        </div>
    </div>
  
  
  
  
    <table class="table mt-3" *ngIf="type != 'entry'">
        <thead>
            <tr>
          
                <th class="bg-light" scope="col">#</th>
                <th class="bg-light" scope="col">
                  {{ type === 'receipt' ? ('addTransaction.RECEIPT_FROM' | translate) :
                      type === 'payment' ? ('addTransaction.PAYMENT_TO' | translate) :
                      
                      type === 'credit_note' || type === 'debit_note' ? ('addTransaction.NOTIFIED_ACCOUNT' | translate) :
                      ('addTransaction.ACCOUNT_1' | translate) }}
  
                </th>
                <th class="bg-light" scope="col">
                  {{ type === 'receipt' ? ('addTransaction.ACCOUNT_TO_BE_RECEIPT' | translate) :
                  type === 'payment' ? ('addTransaction.ACCOUNT_TO_PAYMENT_FROM' | translate) :
                  type === 'credit_note' ? ('addTransaction.ACCOUNT_TO_PAYMENT_FROM' | translate) :
                  type === 'debit_note' ? ('addTransaction.ACCOUNT_TO_GET_MONEY' | translate) :
                  ('addTransaction.ACCOUNT_2' | translate) }}
                 </th>
                <th class="bg-light" scope="col">{{ 'paymentDocuments.DELEGATE' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'paymentDocuments.AMOUNT' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'paymentDocuments.CURRENCY' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'paymentDocuments.ACTIONS' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let document of documents; let i = index">
                <th scope="row">{{document.id}}</th>
                <td>{{ document.from_to_account.name }}</td>
                <td>{{ document.from_to_account_company.name }}</td>
               
                <td>{{ document.delegate ? document.delegate.name : '--' }}</td>
                <td>{{ document.amount }}</td>
                <td>{{ document.currency.name }}</td>
                  <td >
                    <div class="d-flex justify-content-around align-items-center">
                    <a class="nav-link" [routerLink]="['/dashboard/showPaymentDocument', document.id]">
                      <i class="fa-solid fa-eye btn1 bg-primary rounded"></i>
                    </a>
                </div>
                </td>
            </tr>
        </tbody>
    </table>





    <table class="table mt-3" *ngIf="type == 'entry'">
        <thead>
            <tr>
          
                <th class="bg-light" scope="col">#</th>
                <th class="bg-light" scope="col">{{ 'paymentDocuments.DATE' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'paymentDocuments.DELEGATE' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'paymentDocuments.AMOUNT' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'paymentDocuments.ACTIONS' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let document of documents; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ document.date }}</td>
                <td>{{ document.delegate ? document.delegate.name : '--' }}</td>
                <td>{{ document.amount }}</td>
                <!-- <td>{{ document.currency.name }}</td>  -->
                  <td >
                    <div class="d-flex justify-content-around align-items-center">
                    <a class="nav-link" [routerLink]="['/dashboard/showEntryDocument', document.id]">
                      <i class="fa-solid fa-eye btn1 bg-primary rounded"></i>
                    </a>
                </div>
                </td>
            </tr>
        </tbody>
    </table>
  </div>