<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h5>{{ 'MANAGE_EMPLOYEES' | translate }}</h5>
        <span class="text-muted">
            {{ 'DASHBOARD' | translate }} <i [ngClass]="'fa-solid ' + ('ICON_CLASS' | translate)"></i> {{ 'EMPLOYEES' |
            translate }}
        </span>
    </div>
    <a *ngIf="_PermissionService.hasPermission('employees' , 'add_employees')" class="nav-link" routerLinkActive="active" routerLink="/dashboard/add-employee">
      <span class="rounded text-white iconPlus"> 
  
        <i class="fa-solid fa-plus  icon "></i>
        {{"ADD_EMPLOYEE"|translate}}
      </span>
    </a>
</div>

<div class="d-flex justify-content-between align-items-center rounded m-4 shadow-sm p-4 bg-white">
    <div class="d-flex gap-2">
       
        <button class="btn btn-primary" (click)="importVendors()" [disabled]="!selectedFile">
            {{ 'IMPORT_EMPLOYEES' | translate }}
        </button>
        <input type="file" (change)="onFileSelected($event)" accept=".xlsx, .xls, .csv" class="form-control-file" />
    </div>


     <div class="d-flex gap-2">
       
        <button class="btn btn-outline-success" (click)="exportVendors()">
        {{ 'EXPORT_EMPLOYEES' | translate }}
    </button>
        <input type="text"         [(ngModel)]="fileName" placeholder="{{ 'FILENAME' | translate }}" class="form-control" />
    </div>
    
</div>

<div class="vendortable rounded mt-4 shadow-sm p-4 bg-white">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="fw-bold">{{ 'EMPLOYEES_LIST' | translate }}</span>

            <input class="form-control search w-25" type="search" [(ngModel)]="searchQuery" (input)="onSearchChange()"
                placeholder="{{ 'SEARCH' | translate }}" aria-label="Search">
        </div>
    </div>

    <div class="table-responsive">
        <table class="table align-middle text-center">
          <thead class="table-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">{{ 'NAME' | translate }}</th>
              <th scope="col">{{ 'ACCOUNT_CATEGORY' | translate }}</th>
              <th scope="col">{{ 'IMAGE' | translate }}</th>
              <th scope="col">{{ 'ACTIONS' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employees; let i = index">
              <td class="align-middle">{{ employee.id }}</td>
              <td class="align-middle">{{ employee.name }}</td>
              <td class="align-middle">{{ employee.account_category }}</td>
              <td class="align-middle">
                <div style="width: 60px; margin: auto;">
                  <img
                    [src]="employee.image ? employee.image : 'images/image.jpg'"
                    alt="{{ employee.name || 'Default' }}"
                    class="rounded-circle"
                    width="50"
                    height="50"
                  />
                </div>
              </td>
              <td class="align-middle">
                <div class="d-flex justify-content-center gap-2">
                    <a *ngIf="_PermissionService.hasPermission('employees' , 'details_employees')" class="nav-link" routerLinkActive="active"
                    [routerLink]="['/dashboard/show-employee', employee.id]">
                    <i class="fa-solid fa-eye btn1 text-success rounded"
                        title="{{ 'VIEW_EMPLOYEE' | translate }}"></i>
                </a>
                <a  *ngIf="_PermissionService.hasPermission('employees' , 'edit_employees')  && !employee.delegate"  class="nav-link" routerLinkActive="active"
                [routerLink]="['/dashboard/update-employee', employee.id]">
                <i class="fa-solid fa-pencil btn1 text-primary rounded"
                    title="{{ 'EDIT_EMPLOYEE' | translate }}"></i>
            </a>

            <a  *ngIf="_PermissionService.hasPermission('employees' , 'edit_employees')  && employee.delegate"  class="nav-link" routerLinkActive="active"
                [routerLink]="['/dashboard/update-delegate', employee.delegate.id]">
                <i class="fa-solid fa-pencil btn1 text-primary rounded"
                    title="{{ 'EDIT_EMPLOYEE' | translate }}"></i>
            </a>
            <i  *ngIf="_PermissionService.hasPermission('employees' , 'delete_employees')"  class="fa-solid fa-trash-can btn1 text-danger rounded" (click)="deleteEmployee(employee.id)"
                title="{{ 'DELETE_EMPLOYEE' | translate }}"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
</div>