<!-- <div class="mt-3 mb-3">
    <h5 class="large-text">{{ 'ADD_CHECK_TRANSACTION' | translate }}</h5>
    <span class="text-muted large-text">{{ 'DASHBOARD' | translate }} <i
            [ngClass]="'fa-solid ' + ('ICON_CLASS' | translate)"></i> {{ 'CHECKS' | translate }} <i
            [ngClass]="'fa-solid ' + ('ICON_CLASS' | translate)"></i>{{ 'ADD_CHECK' | translate }}</span>
</div> -->
<div class="mt-4 mb-4">
    <form [formGroup]="checkForm" (ngSubmit)="handleForm()">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card shadow em-card rounded-lg">
                        <div class="card-header text-center text-black rounded-top pt-3">
                            <h5 class="large-text">{{ 'ADD_CHECK' | translate }}</h5>
                        </div>
                        <div class="card-body pb-5">
                            <div class="row">

                                <div class="form-group col-md-6">
                                    <label for="due_date" class="form-label large-text">{{ 'DUE_DATE' | translate
                                        }}</label>
                                    <input id="due_date" formControlName="due_date" type="date" class="form-control" />
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="check_number" class="form-label large-text">{{ 'CHECK_NUMBER' |
                                        translate }}</label>
                                    <input id="check_number" formControlName="check_number" type="text"
                                        class="form-control" placeholder="{{ 'CHECK_NUMBER' | translate }}" />
                                </div>

                                <div class="form-group col-md-6" *ngIf="!needCurrecyPrice">
                                    <label for="amount" class="form-label large-text">{{ 'AMOUNT' | translate }}</label>
                                    <input id="amount" formControlName="amount" type="number" step="0.01"
                                        class="form-control" placeholder="{{ 'AMOUNT' | translate }}" />
                                </div>


                                <div class="form-group col-md-3" *ngIf="needCurrecyPrice">
                                    <label for="amount" class="form-label large-text">{{ 'AMOUNT' | translate }}
                                        ({{forignCurrencyName}})
                                    </label>
                                    <input id="amount" formControlName="amount" type="number" step="0.01"
                                        class="form-control" placeholder="{{ 'AMOUNT' | translate }}" 
                                        (input)="caculateAmountInLocalCurrency()" 
                                        />
                                </div>

                                <div class="form-group col-md-3" *ngIf="needCurrecyPrice">
                                    <label for="amount" class="form-label large-text">{{ 'AMOUNT' | translate }}
                                        ({{currency.name}})
                                    </label>
                                    <p>
                                        {{amountInLocalCurrency}}
                                    </p>
                                </div>


                                <div class="form-group col-md-6" >
                                    <ng-container *ngIf="needCurrecyPrice">
                                     <label for="currency_value" class="form-label large-text">{{ 'CURRENCY_PRICE' | translate }}</label>
                                     <input (input)="caculateAmountInLocalCurrency()" type="number" id="currency_value" formControlName="currency_value" class="form-control"
                                     [class.is-invalid]="needCurrecyPrice && isSubmited && checkForm.get('currency_value')?.value == 0">
                   
                                     <div class="text-danger" *ngIf="needCurrecyPrice && isSubmited && checkForm.get('currency_value')?.value == 0">
                                       {{ 'CURRENCY_PRICE' | translate }} {{ 'IS_REQUIRED' | translate }}
                                     </div>
                                    </ng-container>
                                   
                   
                                   </div>




                           
                                <div class="form-group col-md-6">
                                    <label for="type" class="form-label large-text">{{ 'TYPE' | translate }}</label>
                                    <select id="type" formControlName="type" (change)="onTypeChange($event)"
                                        class="form-control">
                                        <option value="incoming">{{ 'INCOMING' | translate }}</option>
                                        <option value="outgoing">{{ 'OUTGOING' | translate }}</option>
                                        <option value="endorsed">{{ 'ENDORSED' | translate }}</option>
                                    </select>
                                </div>




                                  <div class="form-group col-md-6">
                                    <label for="notes" class="form-label large-text">{{ 'NOTES' | translate }}</label>
                                    <input id="notes" formControlName="notes" type="text" class="form-control"
                                        placeholder="{{ 'NOTES' | translate }}" />
                                </div>




                                <!-- <div class="form-group col-md-6">
                                    <label for="currency_id" class="form-label large-text">{{ 'CURRENCY' | translate
                                        }}</label>
                                    <select id="currency_id" formControlName="currency_id" class="form-control">
                                        <option *ngFor="let currency of currencies" [value]="currency.id">{{
                                            currency.name }}</option>
                                    </select>
                                </div> -->



                                <div class="form-group col-md-5">
                                    <label for="source_account_id" class="form-label large-text">{{ 'SOURCE_ACCOUNT' |
                                        translate }}</label>
                                    <!-- <select id="source_account_id" formControlName="source_account_id" class="form-control">
                                    <option *ngFor="let account of source_accounts" [value]="account.id">{{ account.name_ar }}</option>
                                </select> -->

                                    <button type="button" class="btn btn-outline-primary w-100"
                                        (click)="openModal('shiftModal' ,'source_accounts')">
                                        {{ selectedSourceAccount ? selectedSourceAccount.name : ('SOURCE_ACCOUNT'|
                                        translate) }}
                                    </button>
                                    <input type="hidden" formControlName="source_account_id"
                                        [value]="selectedSourceAccount?.id" />
                                </div>
                                <div class="form-group col-md-2 mt-4">
                                    <img src="images/arrow.png" alt="" width="50px" height="50px">
                                </div>


                                <div class="form-group col-md-5">
                                    <label for="payed_to_id" class="form-label large-text">{{ 'PAYED_TO' | translate
                                        }}</label>
                                    <!-- <select id="payed_to_id" formControlName="payed_to_id" class="form-control">
                                      <option *ngFor="let account of pay_to_accounts" [value]="account.id">{{ account.name_ar }}</option>
                                  </select> -->

                                    <button type="button" class="btn btn-outline-primary w-100"
                                        (click)="openModal('shiftModal' ,'pay_to_accounts')">
                                        {{ selectedPayedToAccount ? selectedPayedToAccount.name : ('PAYED_TO'|
                                        translate) }}
                                    </button>
                                    <input type="hidden" formControlName="payed_to_id"
                                        [value]="selectedPayedToAccount?.id" />
                                </div>









                                <div class="form-group col-md-6">
                                    <label for="bank_id" class="form-label large-text">{{ 'BANK' | translate }}</label>
                                    <select id="bank_id" formControlName="bank_id" (change)="onBankChange($event)"
                                        class="form-control">
                                        <option *ngFor="let bank of banks" [value]="bank.id">{{ bank.name }}</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="bank_branch_id" class="form-label large-text">{{ 'BANK_BRANCH' |
                                        translate }}</label>
                                    <select id="bank_branch_id" formControlName="bank_branch_id" class="form-control">
                                        <option *ngFor="let branch of bankBranches" [value]="branch.id">{{ branch.name
                                            }}</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="bank_account_id" class="form-label large-text">{{ 'BANK_ACCOUNT' |
                                        translate }}</label>
                                    <select id="bank_account_id" formControlName="bank_account_id" class="form-control">
                                        <option *ngFor="let account of bankAccounts" [value]="account.id">{{
                                            account.name }} // {{ account.account_number}}</option>
                                    </select>
                                </div>


                                <div class="form-group col-md-6">
                                    <input type="file" class="custom-file-input" id="front_image"
                                        (change)="onFileSelected($event, 'front')" accept="image/*"
                                        style="display: none;">

                                    <label for="front_image" class="btn btn-image">
                                        <i class="fa-solid fa-file-arrow-up"></i> Choose check front image
                                    </label>
                                    <span id="file-name">{{ selectedFrontImage?.name || ('NO_FILE_CHOSEN' | translate)}}</span>
                                </div>

                                <div class="form-group col-md-6">
                                    <input type="file" class="custom-file-input" id="back_image"
                                    (change)="onFileSelected($event, 'back')" accept="image/*"
                                    style="display: none;">

                                <label for="back_image" class="btn btn-image">
                                    <i class="fa-solid fa-file-arrow-up"></i> Choose check back image
                                </label>
                                <span id="file-name">{{ selectedBackImage?.name || ('NO_FILE_CHOSEN' | translate)}}</span>
                                </div>

                            </div>
                            <div class="mt-5 mb-3">
                                <button [disabled]="checkForm.invalid" type="submit" class="btn btn-primary px-4 large-text">
                                    <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>{{ 'SAVE' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </form>
</div>




<div class="modal fade" id="shiftModal" tabindex="-1" aria-labelledby="shiftModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shiftModalLabel">{{ 'mainAccountNav.selectAccount' | translate }}</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="closeModal('shiftModal')"></button>
            </div>
            <div class="modal-body">

                <input type="text" class="form-control mb-3" [placeholder]="'mainAccountNav.searchAccount' | translate"
                    [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange()" />


                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>{{ 'mainAccountNav.accountName' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let account of filteredAccounts; let i = index" (click)="selectAccount(account)"
                            style="cursor: pointer;">
                            <td>{{ account.id }}</td>
                            <td>{{ account.name }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>