<div class="d-flex justify-content-between align-items-center mb-3">
  <div>
    <h5 class="large-text">{{ 'MANAGE_PURCHASES' | translate }}</h5>
    <span class="text-muted large-text">{{ 'DASHBOARD' | translate }} <i [ngClass]="'fa-solid ' + ('ICON_CLASS' | translate)" ></i> {{ 'APPROVED_PURCHASES' | translate }}</span>
  </div>
</div>

<div class="vendortable rounded mt-4 shadow-sm p-4 bg-white">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <span class="fw-bold large-text">{{ 'APPROVED_PURCHASES_LIST' | translate }}</span>
      <input class="form-control search w-25" type="search" placeholder="{{ 'SEARCH' | translate }}" aria-label="Search">
    </div>
  </div>

  <table class="table mt-3">
    <thead>
      <tr>
        <th class="bg-light" scope="col">#</th>
        <th class="bg-light" scope="col">{{ 'BILL_TYPE' | translate }}</th>
        <th class="bg-light" scope="col">{{ 'INVOICE_DATE' | translate }}</th>
        <th class="bg-light" scope="col">{{ 'TAX_TYPE' | translate }}</th>
        <!-- <th class="bg-light" scope="col">Image</th> -->
        <!-- <th class="bg-light" scope="col">Amount</th> -->
        <th class="bg-light" scope="col">{{ 'ACTIONS' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let purchase of purchases; let i = index">
        <th scope="row">{{purchase.id}}</th>
        <td>{{ purchase.type }}</td>
        <td>{{ purchase.invoice_date || 'N/A' }}</td>
        <td>{{ purchase.tax_type }}</td>
        <!-- <td>
          <img [src]="product.image" alt="{{ product.name_ar }}" width="50" height="50" />
        </td> -->
        <!-- <td>
          <img 
            [src]="product.image ? product.image : 'images/image.jpg'" 
            alt="{{ product.name_ar || 'Default Product' }}" 
            width="50" 
            height="50" 
          />
        </td> -->
        <!-- <td>{{ product.amount }}</td> -->
        <td>
          <div class="d-flex justify-content-around align-items-center">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/showPurchase', purchase.id]">
              <i class="fa-solid fa-eye btn1 bg-primary rounded" title="{{ 'VIEW' | translate }}"></i>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>