


<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h5>{{ 'MANAGE_COMPANY_BRANCHES' | translate }}</h5>
        <span class="text-muted">{{ 'DASHBOARD' | translate }} 
            <i [ngClass]="'fa-solid ' + ('icon-class' | translate)" ></i> {{  'COMPANY_BRANCHES'| translate }}</span>
    </div>
    <a *ngIf="_PermissionService.hasPermission('company_branches' , 'add_company_branches')" class="nav-link" routerLinkActive="active" routerLink="/dashboard/addCompanyBranch">
        <i class="fa-solid fa-plus text-white iconPlus rounded"></i>
    </a>
</div>
<div class="vendortable rounded mt-4 shadow-sm p-4 bg-white">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="fw-bold">{{ 'COMPANY_BRANCHES_LIST' | translate }}</span>
        </div>
    </div>

    <table class="table mt-3">
        <thead>
            <tr>
                <th class="bg-light" scope="col">ID</th>
                <th class="bg-light" scope="col">{{ 'COMPANY_NAME' | translate }}</th>
                <th class="bg-light" scope="col">{{'latitude'|translate}} </th>
                <th class="bg-light" scope="col">{{'LONG'|translate}} </th>
                <th class="bg-light" scope="col">{{ 'REDIUS' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'ACTIONS' | translate }}</th>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let companyBranch of companyBranches; let i = index">
                <th scope="row">{{ companyBranch.id }}</th>
                <td>{{ companyBranch.name }}</td>
                <td>{{ companyBranch.lat }}</td>
                <td>{{ companyBranch.long }}</td>
                <td>{{companyBranch.radius_km }}</td>
                <td class="d-flex justify-content-center gap-3 align-items-center">
                    <a *ngIf="_PermissionService.hasPermission('company_branches' , 'details_company_branches')" class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/showCompanyBranch', companyBranch.id]">
                        <i class="fa-solid fa-eye btn1 bg-primary rounded" title="{{ 'managecompanyBranch.view' | translate }}"></i>    
                    </a>
                    <a *ngIf="_PermissionService.hasPermission('company_branches' , 'edit_company_branches')"  class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/updateCompanyBranch', companyBranch.id]">
                        <i class="fa-solid fa-pencil btn1 bg-success rounded" title="{{ 'managecompanyBranch.edit' | translate }}"></i>
                    </a>
                    <i *ngIf="_PermissionService.hasPermission('company_branches' , 'delete_company_branches')"  class="fa-solid fa-trash-can btn1 bg-danger rounded" (click)="deleteCompanyBranch(companyBranch.id)" title="{{ 'manageColor.delete' | translate }}"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
