<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h5>{{ 'MANAGE_DELEGATES' | translate }}</h5>
        <span class="text-muted">
            {{ 'DASHBOARD' | translate }} <i [ngClass]="'fa-solid ' + ('ICON_CLASS' | translate)"></i> {{ 'DELEGATES' | translate }}
        </span>
    </div>
    <a *ngIf="_PermissionService.hasPermission('delegates' , 'add_delegates')" class="nav-link" routerLinkActive="active" routerLink="/dashboard/add-delegate">
        <span class="rounded text-white iconPlus"> 
  
            <i class="fa-solid fa-plus  icon "></i>
            {{"ADD_DELEGATE"|translate}}
          </span>
    </a>
</div>

<div class="vendortable rounded mt-4 shadow-sm p-4 bg-white">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="fw-bold">{{ 'DELEGATES_LIST' | translate }}</span>
            <!-- <input class="form-control search w-25" type="search" placeholder="Search..." aria-label="Search"> -->
            <input 
                class="form-control search w-25" 
                type="search" 
                [(ngModel)]="searchQuery" 
                (input)="onSearchChange()" 
                placeholder="{{ 'SEARCH' | translate }}"
                aria-label="Search">
        </div>
    </div>

    <table class="table mt-3">
        <thead>
            <tr>
                <th class="bg-light" scope="col">ID</th>
                <th class="bg-light" scope="col">{{ 'NAME' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'ACCOUNT_CATEGORY' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'IMAGE' | translate }}</th>
                <!-- <th class="bg-light" scope="col">{{ 'VALUE' | translate }}</th> -->
                <th class="bg-light" scope="col">{{ 'ACTIONS' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let currency of currencies; let i = index">
                <th scope="row">{{ currency.id}}</th>
                <td>{{ currency.name }}</td>
                <td>{{ currency.account_category }}</td>
                <td>
                    <img 
                      [src]="currency.image ? currency.image : 'images/image.jpg'" 
                      alt="{{ currency.name || 'Default Product' }}" 
                      width="50" 
                      height="50" 
                    />
                  </td>
                <!-- <td>{{ currency.value }}</td> -->
                <td class="d-flex justify-content-center gap-3 align-items-center">
                    <a *ngIf="_PermissionService.hasPermission('delegates' , 'edit_delegates')" class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/update-delegate', currency.id]">
                        <i class="fa-solid fa-pencil btn1 text-primary rounded" title="{{ 'EDIT_CURRENCY' | translate }}"></i>
                    </a>
                    <i  *ngIf="_PermissionService.hasPermission('delegates' , 'delete_delegates')" class="fa-solid fa-trash-can btn1 text-danger rounded" (click)="deleteCurrency(currency.id)" title="{{ 'DELETE_CURRENCY' | translate }}"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>