<!-- 
<h5 class="large-text mb-2">{{ 'MANAGE_ENTRY_DOCUMENTS' | translate }}</h5>
<span class="text-muted">
  {{ 'DASHBOARD' | translate }}
  <i [ngClass]="'fa-solid ' + ('ICON_CLASS' | translate)"></i>
  &nbsp; / &nbsp;
  {{ 'ENTRY_DOCUMENTS' | translate }}
  <i [ngClass]="'fa-solid ' + ('ICON_CLASS' | translate)"></i>
  &nbsp; / &nbsp;
  {{ 'CREATE_DOCUMENT' | translate }}
</span> -->

<div class="mt-4 mb-4">
  <form [formGroup]="entryForm" (ngSubmit)="handleSubmit()">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card shadow em-card rounded-lg">
            <div class="card-header text-center text-black rounded-top pt-3">
              <h5 class="large-text">{{ 'UPDATE_DOCUMENT' | translate }}</h5>
            </div>
            <div class="card-body pb-5">
              <div class="row">

                <!-- Manual Reference -->
                <div class="form-group col-md-6">
                  <label for="manual_reference" class="form-label large-text">{{ 'MANUAL_REFERENCE' | translate
                    }}</label>
                  <input id="manual_reference" formControlName="manual_reference" type="text" class="form-control"
                    placeholder="{{ 'MANUAL_REFERENCE' | translate }}" />
                  <div class="alert alert-danger"
                    *ngIf="entryForm.get('manual_reference')?.touched && entryForm.get('manual_reference')?.hasError('maxLength')">
                    Max length is 255 characters.
                  </div>
                </div>

                <!-- Date -->
                <div class="form-group col-md-6">
                  <label for="date" class="form-label large-text">{{ 'DATE' | translate }}</label>
                  <input id="date" formControlName="date" type="date" class="form-control" />
                  <div class="alert alert-danger"
                    *ngIf="entryForm.get('date')?.touched && entryForm.get('date')?.hasError('required')">
                    {{ 'DATE' | translate }} {{ 'IS_REQUIRED' | translate }}.
                  </div>
                </div>

                <!-- Organization -->
                <div class="form-group col-md-6">
                  <label for="organization" class="form-label large-text">{{ 'ORGANIZATION' | translate }}</label>
                  <input id="organization" formControlName="organization" type="text" class="form-control"
                    placeholder="{{ 'ORGANIZATION' | translate }}" />
                </div>
                <div class="form-group col-md-6" *ngIf="needCurrecyPrice">
                  <label for="currency_value" class="form-label large-text">{{ 'CURRENCY_PRICE' | translate }}</label>
                  <input type="number" id="currency_value" formControlName="currency_value" class="form-control"
                    [class.is-invalid]="needCurrecyPrice && isSubmited && entryForm.get('currency_value')?.value == 0"
                    (input)="calculateTotals()">

                  <div class="text-danger"
                    *ngIf="needCurrecyPrice && isSubmited && entryForm.get('currency_value')?.value == 0">
                    {{ 'CURRENCY_PRICE' | translate }} {{ 'IS_REQUIRED' | translate }}
                  </div>

                </div>
                <div class="form-group col-md-12">
                  <label for="note" class="form-label large-text">{{ 'NOTE' | translate }}</label>
                  <textarea id="note" formControlName="note" class="form-control" rows="3"
                    placeholder="{{ 'NOTE' | translate }}"></textarea>
                  <div class="alert alert-danger"
                    *ngIf="entryForm.get('note')?.touched && entryForm.get('note')?.hasError('maxLength')">
                    {{ 'MAX_LENGTH_255' | translate }}
                  </div>
                </div>

                <div class="form-group col-md-12">
                  <div formArrayName="entryItems" class="mt-4">
                    <div *ngFor="let item of entryItems.controls; let i = index" [formGroupName]="i">
                      <div class="row mb-3">
                        <!-- Amount -->

                        <ng-container *ngIf="currency && item.get('account')?.value">

                          <div class="form-group col-md-2"
                            *ngIf="item.get('account')?.value.currency.id != currency?.id">
                            <label for="amount" class="form-label large-text">{{ 'AMOUNT' | translate }}
                              ({{currency.name}})</label>
                            <p>{{item.get('amount')?.value * entryForm.get('currency_value')?.value }}</p>
                          </div>

                        </ng-container>

                        <div class="form-group col-md-2">

                          <label for="amount" class="form-label large-text">{{ 'AMOUNT' | translate }}


                            <ng-container *ngIf="currency && item.get('account')?.value">

                              <span class="form-group col-md-2"
                                *ngIf="item.get('account')?.value.currency.id != currency?.id">
                                ({{item.get('account')?.value.currency.name}})
                              </span>
                            </ng-container>


                          </label>




                          <input formControlName="amount" type="number" (input)="calculateTotals()" class="form-control"
                            placeholder="{{ 'AMOUNT' | translate }}" />
                          <div class="alert alert-danger"
                            *ngIf="item.get('amount')?.errors && item.get('amount')?.touched">
                            <p *ngIf="item.get('amount')?.hasError('required')">{{ 'AMOUNT' | translate }} {{
                              'IS_REQUIRED' | translate }}</p>
                          </div>
                        </div>

                        <!-- Type -->
                        <div class="form-group col-md-2">
                          <label for="type" class="form-label large-text">{{ 'TYPE' | translate }}</label>
                          <select formControlName="type" class="form-control" (change)="onTypeChange($event , i)">
                            <option value="debit">{{ 'DEBIT' | translate }}</option>
                            <option value="credit">{{ 'CREDIT' | translate }}</option>
                          </select>
                        </div>

                        <!-- Account -->
                        <div class="form-group col-md-3">
                          <label for="account" class="form-label large-text">{{ 'ACCOUNT' | translate }}</label>
                          <br>
                          <a (click)="openModal('shiftModal' , 'account' , i)" class="btn btn-outline-info">
                            {{getAccountById(i)? getAccountById(i).name : 'اختر الحساب'}}
                          </a>


                        </div>
                        <div class="col-md-3 mt-2">
                          <button type="button" class="btn btn-danger" (click)="removeEntryItem(i)">
                            <i class="fa-solid fa-trash"></i> {{ 'REMOVE_ITEM' | translate }}
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Add Item Button -->
                  <div class="mt-3">
                    <button type="button" class="btn btn-success" (click)="addEntryItem()">
                      <i class="fa-solid fa-plus"></i> {{ 'ADD_ITEM' | translate }}
                    </button>
                  </div>
                  <div class="mt-4 text-center border-top pt-3">
                    <p class="mb-1"><strong>{{ 'TOTAL_DEBIT' | translate }}:</strong> {{ totalDebit | number:'1.2-2' }}
                    </p>
                    <p class="mb-1"><strong>{{ 'TOTAL_CREDIT' | translate }}:</strong> {{ totalCredit | number:'1.2-2'
                      }}</p>
                    <p class="mb-0"><strong>{{ 'DIFFERENCE' | translate }}:</strong> {{ totalDifference }} || {{
                      totalType }}</p>
                  </div>


                </div>

        <div class="mt-4 mb-4 d-flex justify-content-evenly w-25">
          <button [disabled]="entryForm.invalid" type="submit" class="btn btn-primary px-4 large-text">
            <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i> {{ 'SAVE' | translate }}
          </button>
          <button type="button" class="btn btn-secondary" (click)="onCancel()">{{ 'CANCEL' | translate }}</button>
        </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </form>
</div>




<div class="modal fade" id="shiftModal" tabindex="-1" aria-labelledby="shiftModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shiftModalLabel">{{ 'mainAccountNav.selectAccount' | translate }}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal('shiftModal')"></button>
      </div>
      <div class="modal-body">

        <input type="text" class="form-control mb-3" [placeholder]="'mainAccountNav.searchAccount' | translate"
          [(ngModel)]="searchQuery" (ngModelChange)="loadAccounts()" />


        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>{{ 'mainAccountNav.accountName' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let account of accounts; let i = index" (click)="selectAccount(account)"
              style="cursor: pointer;">
              <td>{{ account.id }}</td>
              <td>{{ account.name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>