<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h5>{{ 'MANAGE_CURRENCY' | translate }}</h5>
        <span class="text-muted">
            {{ 'DASHBOARD' | translate }} <i [ngClass]="'fa-solid ' + ('ICON_CLASS' | translate)"></i> {{ 'CURRENCY' | translate }}
        </span>
    </div>
    <a *ngIf="_PermissionService.hasPermission('currencies' , 'add_currencies')" class="nav-link" routerLinkActive="active" routerLink="/dashboard/addCurrency">
        <span class="rounded text-white iconPlus"> 
  
            <i class="fa-solid fa-plus  icon "></i>
            {{"ADD_CURRENCY"|translate}}
          </span>
    </a>
</div>

<div class="vendortable rounded mt-4 shadow-sm p-4 bg-white">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="fw-bold">{{ 'CURRENCY_LIST' | translate }}</span>
            <!-- <input class="form-control search w-25" type="search" placeholder="Search..." aria-label="Search"> -->
            <input 
                class="form-control search w-25" 
                type="search" 
                [(ngModel)]="searchTerm" 
                (input)="filterCurrencies()" 
                placeholder="{{ 'SEARCH' | translate }}"
                                aria-label="Search">
        </div>
    </div>

    <table class="table mt-3">
        <thead>
            <tr>
                <th class="bg-light" scope="col">ID</th>
                <th class="bg-light" scope="col">{{ '_CURRENCY_NAME' | translate }}</th>
                <th class="bg-light" scope="col">{{ '_DERIVATIVE_NAME' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'ABBREVIATION' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'VALUE' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'IS_MAIN_CURRENCY' | translate }}</th>

                <th class="bg-light" scope="col">{{ 'ACTIONS' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let currency of filteredCurrencies; let i = index">
                <th scope="row">{{currency.id}}</th>
                <td>{{ currency.name }}</td>
                <td>{{ currency.derivative_name }}</td>
                <td>{{ currency.abbreviation }}</td>
                <td>{{ currency.value }}</td>
                <td>{{ currency.is_default }}</td>



                  
                <td class="d-flex justify-content-center gap-3 align-items-center">
                   
                    <!-- <a *ngIf="!currency.is_default" class="btn btn-outline-info" routerLinkActive="active" (click)="makeDefault(currency.id)">
                        default
                        </a> -->
                   
                    <a *ngIf="_PermissionService.hasPermission('currencies' , 'edit_currencies')"  class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/updateCurrency', currency.id]">
                        <i class="fa-solid fa-pencil btn1 text-primary rounded" title="{{ 'EDIT_CURRENCY' | translate }}"></i>
                    </a>

                   
                    <i *ngIf="_PermissionService.hasPermission('currencies' , 'delete_currencies')"  class="fa-solid fa-trash-can btn1 text-danger rounded" (click)="deleteCurrency(currency.id)" title="{{ 'DELETE_CURRENCY' | translate }}"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>