<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h5>{{ 'BANK_ACCOUNTS' | translate }}</h5> 
        <span class="text-muted">{{ 'DASHBOARD' | translate }} <i [ngClass]="'fa-solid ' + ('ICON_CLASS' | translate)" ></i> {{'BANK_ACCOUNTS' | translate }} </span>

    </div>
    <a *ngIf="_PermissionService.hasPermission('bank-accounts' , 'add_bank-accounts')" class="nav-link" routerLinkActive="active" routerLink="/dashboard/addBankAccount">
        <span class="rounded text-white iconPlus"> 
  
            <i class="fa-solid fa-plus  icon "></i>
            {{"ADD_BANK_ACCOUNT"|translate}}
          </span>
    </a>
</div>

<div class="vendortable rounded mt-4 shadow-sm p-4 bg-white">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="fw-bold">{{ 'BANK_ACCOUNTS_LIST' | translate }}</span>
            <input 
            class="form-control search w-25" 
            type="search" 
            placeholder="{{ 'SEARCH' | translate }}"
            [(ngModel)]="searchText"
            (ngModelChange)="filterBankAccounts()">
            <!-- <input class="form-control search w-25" type="search" placeholder="search" aria-label="Search"> -->
        </div>
    </div>

    <table class="table mt-3">
        <thead>
            <tr>
                <th class="bg-light" scope="col">#</th>
                <th class="bg-light" scope="col">{{ 'ACCOUNT_NUMBER' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'ACCOUNT_NAME' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'CURRENCY' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'BANK' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'BANK_BRANCH' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'ACTIONS' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bankAccount of filterBankAccounts(); let i = index">
                <th scope="row">{{bankAccount.id}}</th>
                <td>{{ bankAccount.account_number }}</td>
                <td>{{ bankAccount.name }}</td>
                <td>{{ bankAccount.currency.name }}</td>
                <td>{{ bankAccount.bank_branch.bank.name }}</td>
                <td>{{ bankAccount.bank_branch.name }}</td>
                <td class="d-flex justify-content-center gap-3 align-items-center">
                    <a *ngIf="_PermissionService.hasPermission('bank-accounts' , 'edit_bank-accounts')"  class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/updateBankAccount', bankAccount.id]">
                        <i class="fa-solid fa-pencil btn1 text-primary rounded" title="{{ 'EDIT_BANK_ACCOUNT' | translate }}"></i>
                    </a>
                    <i *ngIf="_PermissionService.hasPermission('bank-accounts' , 'delete_bank-accounts')"  class="fa-solid fa-trash-can btn1 text-danger rounded" (click)="deleteBankAccount(bankAccount.id)" title="{{ 'DELETE_BANK_ACCOUNT' | translate }}"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>




