<div class="mt-3 mb-3">
  <h5>{{ 'ACCOUNT_DETAILS' | translate }}</h5>
  <span class="text-muted">{{ 'DASHBOARD' | translate }} <i [ngClass]="'fa-solid ' + ('icon-class' | translate)"></i> {{ 'CHECK' | translate }} <i [ngClass]="'fa-solid ' + ('icon-class' | translate)"></i> {{ 'SHOW_CHECK' | translate }}</span>
</div>
<div class="mt-4 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card shadow em-card rounded-lg">
          <div class="card-header bg-white text-black rounded-top pt-3">
            <h5>{{ 'CHECK_DETAILS' | translate }}</h5>
          </div>
          <div class="card-body pb-5">
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="fw-bold">{{ 'FROM_ACCOUNT_ARABIC' | translate }}:</label>
                  <p class="text-muted">{{ check.source_account.name }}</p>
                </div>
                <div class="mb-3">
                  <label class="fw-bold">{{ 'TO_ACCOUNT_ARABIC' | translate }}:</label>
                  <p class="text-muted">{{ check.payed_to.name }}</p>
                </div>
                <div class="mb-3">
                  <label class="fw-bold">{{ 'CURRENCY' | translate }}:</label>
                  <p class="text-muted">{{ check.currency.name }}</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="fw-bold">{{ 'TYPE' | translate }}:</label>
                  <p class="text-muted">{{ check.type }}</p>
                </div>
                <div class="mb-3">
                  <label class="fw-bold">{{ 'AMOUNT' | translate }}:</label>
                  <p class="text-muted">{{ check.amount }}</p>
                </div>
              </div>

              <div class="col-md-6">
                <label class="fw-bold">front image:</label>
<br>
                <img [src]="check.front_image" alt="">
              </div>

              <div class="col-md-6">
                <label class="fw-bold">back image:</label>
<br>
                <img [src]="check.back_image" alt="">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 mb-4">
        <button type="button" (click)="back()" class="btn btn-primary px-4">{{ 'BACK' | translate }}</button>
    </div>
  </div>
</div>
