<!-- <div class="d-flex justify-content-between align-items-center mb-3">
  <div>
    <h5>Manage Stores</h5>
    <span class="text-muted">Dashboard <i [ngClass]="'fa-solid ' + ('icon-class' | translate)" ></i> Stores</span>
  </div>
  <a class="nav-link" routerLinkActive="active" routerLink="/dashboard/addStore">
    <i class="fa-solid fa-plus text-white iconPlus rounded"></i>
  </a>
</div>

<div class="vendortable rounded mt-4 shadow-sm p-4 bg-white">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <span class="fw-bold">Stores List</span>
      <input class="form-control search w-25" type="search" placeholder="Search..." aria-label="Search">
    </div>
  </div>

  <table class="table mt-3">
    <thead>
      <tr>
        <th class="bg-light" scope="col">#</th>
        <th class="bg-light" scope="col">Name</th>
        <th class="bg-light" scope="col">Manager</th>
        <th class="bg-light" scope="col">City</th>
        <th class="bg-light" scope="col">Address</th>
        <th class="bg-light" scope="col">Phone Number</th>
        <th class="bg-light" scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
     
      <tr *ngFor="let store of stores; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ store.name || 'N/A' }}</td>
        <td>{{ store.manager || 'N/A' }}</td>
        <td>{{ store.city?.name || 'N/A' }}</td>
        <td>{{ store.address || 'N/A' }}</td>
        <td>{{ store.phone_number || 'N/A' }}</td>
        <td class="d-flex justify-content-around align-items-center">
          <a class="nav-link" [routerLink]="['/dashboard/showSupplier', store.id]" routerLinkActive="active">
            <i class="fa-solid fa-eye btn1 bg-primary rounded"></i>
          </a>
          <a class="nav-link" [routerLink]="['/dashboard/updateSupplier', store.id]" routerLinkActive="active">
            <i class="fa-solid fa-pencil btn1 bg-success rounded"></i>
          </a>
          <i class="fa-solid fa-trash-can btn1 bg-danger rounded" (click)="deleteStore(store.id)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
<div class="d-flex justify-content-between align-items-center mb-3">
  <div>
    <h5>{{ 'MANAGE_STORES' | translate }}</h5>
    <span class="text-muted">{{ 'DASHBOARD' | translate }} <i [ngClass]="'fa-solid ' + ('icon-class' | translate)"></i> {{ 'STORES' | translate }}</span>
  </div>
  <a class="nav-link" routerLinkActive="active" routerLink="/dashboard/addStore">
    <i class="fa-solid fa-plus text-white iconPlus rounded"></i>
  </a>
</div>
<div class="form-group col-md-12 store-hierarchy-container">
  <label class="form-label">{{ 'STORE_HIERARCHY' | translate }}</label>
  <div class="store-hierarchy">
    <ng-container *ngFor="let store of hierarchicalAccounts">
      <app-storenode [store]="store" (delete)="deleteStore($event)"></app-storenode>
    </ng-container>
  </div>
</div>
