<div class="d-flex justify-content-between align-items-center mb-3">
  <div>
    <h5>{{ 'MANAGE_STORES' | translate }}</h5>
    <span class="text-muted">{{ 'DASHBOARD' | translate }} <i [ngClass]="'fa-solid ' + ('icon-class' | translate)"></i> {{ 'STORES' | translate }}</span>
  </div>
  <a class="nav-link" routerLinkActive="active" routerLink="/dashboard/addStore">
    <i class="fa-solid fa-plus text-white iconPlus rounded"></i>
  </a>
</div>
<div class="form-group col-md-12 store-hierarchy-container">
  <label class="form-label">{{ 'STORE_HIERARCHY' | translate }}</label>
  <div class="store-hierarchy">
    <ng-container *ngFor="let store of hierarchicalAccounts">
      <app-storenode [store]="store" (delete)="deleteStore($event)"></app-storenode>
    </ng-container>
  </div>
</div>
