.nav-link.active-tab {
    font-weight: bold;
    background-color:  #003E29 !important; 
    color: white !important; 
    border-bottom: 2px solid #003E29;
    border-radius: 5px;
  }
  

  .nav-link {
    color: #6c757d; /* Gray text */
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    background-color: #003E29 !important ; 
    color: white; 
    border-radius: 5px;
  }
