span {
    font-size: 12px ;
}
.iconPlus{
    background-color: #145388;
    padding: 11px;
    font-size: 10px;

}
.vendortable{
    background-color: #FFFFFF;
}
.search{
    width:20%;
}
.search {
    border-radius: 20px;
    padding: 0.5rem 1rem;
    max-width: 300px;
}
.btn1{
    color:white;
    padding: 5px;
}



thead {
    background-color:black !important;
}
tr,th,td{
    text-align: center;
}
i{
    cursor:pointer
}


.nav-link.active-tab {
    font-weight: bold;
    color: #007bff !important; /* Blue text */
    border-bottom: 2px solid #007bff;
  }
  

  .nav-link {
    color: #6c757d; /* Gray text */
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #0056b3; /* Darker blue on hover */
    cursor: pointer;

  }