<div class="mt-3 mb-3">
  <h5>{{ 'MANAGE_STORES' | translate }}</h5>
  <span class="text-muted">{{ 'DASHBOARD' | translate }} <i [ngClass]="'fa-solid ' + ('icon-class' | translate)"></i> {{ 'STORES' | translate }} <i [ngClass]="'fa-solid ' + ('icon-class' | translate)"></i> {{ 'CREATE_STORE' | translate }}</span>
</div>
<div class="mt-4 mb-4">
  <form [formGroup]="storeForm" (ngSubmit)="handleForm()">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="card shadow em-card rounded-lg">
                  <div class="card-header bg-white text-black rounded-top pt-3 ">
                      <h5 class="large-text">{{ 'STORE_DETAILS' | translate }}</h5>
                  </div>
                  <div class="card-body pb-5">
                      <div class="row">
                          <div class="form-group col-md-6">
                              <label for="name_ar" class="form-label large-text">{{ 'STORE_NAME' | translate }}</label>
                              <input id="name_ar" formControlName="name_ar" type="text" class="form-control" placeholder="{{ 'ENTER_STORE_NAME' | translate }}" />
                              <div class="alert alert-danger" *ngIf="storeForm.get('name_ar')?.errors && storeForm.get('name_ar')?.touched">
                                  <p *ngIf="storeForm.get('name_ar')?.hasError('required')">{{ 'STORE_NAME_REQUIRED' | translate }}</p>
                                  <p *ngIf="storeForm.get('name_ar')?.hasError('maxLength')">{{ 'MAX_LENGTH_255' | translate }}</p>
                              </div>
                          </div>
            
                          <div class="form-group col-md-6">
                              <label for="phone_number" class="form-label large-text">{{ 'PHONE_NUMBER' | translate }}</label>
                              <input id="phone_number" formControlName="phone_number" type="text" class="form-control" placeholder="{{ 'ENTER_PHONE_NUMBER' | translate }}" />
                              <div class="alert alert-danger" *ngIf="storeForm.get('phone_number')?.errors && storeForm.get('phone_number')?.touched">
                                  <p *ngIf="storeForm.get('phone_number')?.hasError('pattern')">{{ 'PHONE_NUMBER_PATTERN' | translate }}</p>
                              </div>
                          </div>
                          <div class="form-group col-md-6">
                              <label for="manager" class="form-label large-text">{{ 'MANAGER' | translate }}</label>
                              <input id="manager" formControlName="manager" type="text" class="form-control" placeholder="{{ 'ENTER_MANAGER' | translate }}" />
                              <div class="alert alert-danger" *ngIf="storeForm.get('manager')?.errors && storeForm.get('manager')?.touched">
                                  <p *ngIf="storeForm.get('manager')?.hasError('maxLength')">{{ 'MAX_LENGTH_255' | translate }}</p>
                              </div>
                          </div>

                          <div class="row">
          
                            <h6 class="mt-4 large-text">{{ 'ADDRESS' | translate }}</h6>
                            
                         <div class="row">
                          <div class="form-group col-md-6">
                            <label for="country_id" class="form-label">{{ 'addCity.country_name' | translate }}</label>
                             <select class="form-control" (change)="onCountryChange($event)"   formControlName="country_id">
                              <option>{{ 'SELECT_CURRENCY' | translate }}</option>
                              <option *ngFor="let country of countries" [value]="country.id">{{ country.name }}
                              </option>
                            </select> 
                          
                          </div>
                          <div class="form-group col-md-6">
                            <label for="city_id" class="form-label">{{ 'CITY_NAME' | translate }}</label>
                             <select *ngIf="cities.length>0" class="form-control" (change)="onCityChange($event)"   formControlName="city_id">
                              <option>{{ 'SELECT_CURRENCY' | translate }}</option>
                              <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}
                              </option>
                            </select> 
          
                            <div *ngIf="cities.length<=0"  class="alert alert-warning">
                              {{ 'PLEASE_SELECT_A_COUNTRY_HAS_CITIES' | translate }}
                            </div>
                            <div class="alert alert-danger" *ngIf="storeForm.get('country_id')?.errors && storeForm.get('country_id')?.touched">
                              <p *ngIf="storeForm.get('country_id')?.getError('required')">{{ 'addCity.city_required' | translate }}</p>
                            </div>
                          </div>
                            <div class="form-group col-md-6">
                                <label for="address" class="form-label large-text">{{ 'ADDRESS' | translate }}</label>
                                <input id="address" formControlName="address" type="text" class="form-control" placeholder="{{ 'ENTER_ADDRESS' | translate }}" />
                                 <div class="alert alert-danger" *ngIf="storeForm.get('address')?.errors && storeForm.get('address')?.touched">
                                    <p *ngIf="storeForm.get('address')?.hasError('required')">{{ 'ADDRESS_REQUIRED' | translate }}</p>
                                 </div>
                            </div>
                        </div>
          
                    </div> 

                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label for="note" class="form-label large-text">{{ 'NOTE' | translate }}</label>
                                      <textarea id="note" formControlName="note" class="form-control" placeholder="{{ 'ENTER_NOTE' | translate }}" rows="3"></textarea>
                                      <div class="alert alert-danger" *ngIf="storeForm.get('note')?.errors && storeForm.get('note')?.touched">
                                          <p *ngIf="storeForm.get('note')?.hasError('maxlength')">{{ 'MAX_LENGTH_255' | translate }}</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="mt-4 mb-4 d-flex justify-content-evenly w-25">
          <button [disabled]="storeForm.invalid" type="submit" class="btn btn-primary px-4 large-text">
              <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i> {{ 'SAVE' | translate }}
          </button>
            <button type="button" class="btn btn-secondary" (click)="onCancel()">{{ 'CANCEL' | translate }}</button>
      </div>
  </div>
  </form>
</div>