<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h5>{{ 'BANK_BRANCHES' | translate }}</h5> 
        <span class="text-muted">{{ 'DASHBOARD' | translate }} <i [ngClass]="'fa-solid ' + ('ICON_CLASS' | translate)" ></i> {{'BANK_BRANCHES' | translate }} </span>
    </div>
    <a class="nav-link" routerLinkActive="active" routerLink="/dashboard/addBankBranch">
        <i class="fa-solid fa-plus text-white iconPlus rounded"></i>
    </a>
</div>

<div class="vendortable rounded mt-4 shadow-sm p-4 bg-white">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="fw-bold">{{ 'BANK_BRANCHES_LIST' | translate }}</span>
            <input class="form-control search w-25" type="search" placeholder="{{ 'SEARCH' | translate }}" aria-label="Search" [(ngModel)]="searchQuery" (ngModelChange)="searchBankBranches()">
            <!-- <input class="form-control search w-25" type="search" placeholder="search" aria-label="Search"> -->
        </div>
    </div>

    <table class="table mt-3">
        <thead>
            <tr>
                <th class="bg-light" scope="col">#</th>
                <th class="bg-light" scope="col">{{ 'BRANCH_NAME' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'PHONE' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'FAX' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'BANK' | translate }}</th>
                <th class="bg-light" scope="col">{{ 'ACTIONS' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bank of filteredBankBranches; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ bank.name }}</td>
                <td>{{ bank.phone }}</td>
                <td>{{ bank.fax }}</td>
                <td>{{ bank.bank.name }}</td>
                <td class="d-flex justify-content-center gap-3 align-items-center">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/showBankBranch', bank.id]">
                        <i class="fa-solid fa-eye btn1 bg-primary rounded" title="{{ 'VIEW_BANK_BRANCH' | translate }}"></i>
                    </a>
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/updateBankBranch', bank.id]">
                        <i class="fa-solid fa-pencil btn1 bg-success rounded" title="{{ 'EDIT_BANK_BRANCH' | translate }}"></i>
                    </a>
                    <i class="fa-solid fa-trash-can btn1 bg-danger rounded" (click)="deleteBankBranch(bank.id)" title="{{ 'DELETE_BANK_BRANCH' | translate }}"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>