<div class="d-flex justify-content-between align-items-center mb-3">
  <div>
      <h5>{{ 'MANAGE_CHECKS' | translate }}</h5>
      <span class="text-muted">
          {{ 'DASHBOARD' | translate }} <i [ngClass]="'fa-solid ' + ('ICON_CLASS' | translate)"></i> {{ 'CHECKS' | translate }}
      </span>
  </div>
  <a class="btn btn-info" routerLinkActive="active" routerLink="/dashboard/check-operation">
      {{ 'CHECK_OPERATION' | translate }}
  </a>
  <a class="nav-link" routerLinkActive="active" routerLink="/dashboard/addcheck">
      <i class="fa-solid fa-plus text-white iconPlus rounded"></i>
  </a>
</div>



<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <!-- <li>
          <a routerLinkActive="active-tab" (click)="changeStatus('waiting')" class="nav-link px-2">{{ 'WAITING' | translate }}</a>
        </li>
        <li>
          <a routerLinkActive="active-tab" (click)="changeStatus('approved')" class="nav-link px-2">{{ 'APPROVED' | translate }}</a>
        </li>
        <li>
          <a routerLinkActive="active-tab" (click)="changeStatus('rejected')" class="nav-link px-2">{{ 'REJECTED' | translate }}</a>
        </li> -->
  
        <li>
          <a 
            (click)="changeStatus('waiting')" 
            class="nav-link px-2"
            [ngClass]="{'active-tab': status === 'waiting', 'inactive-tab': status !== 'waiting'}"
          >
            {{ 'WAITING' | translate }}
          </a>
        </li>
        <li>
          <a 
            (click)="changeStatus('approved')" 
            class="nav-link px-2"
            [ngClass]="{'active-tab': status === 'approved', 'inactive-tab': status !== 'approved'}"
          >
            {{ 'APPROVED' | translate }}
          </a>
        </li>
        <li>
          <a 
            (click)="changeStatus('rejected')" 
            class="nav-link px-2"
            [ngClass]="{'active-tab': status === 'rejected', 'inactive-tab': status !== 'rejected'}"
          >
            {{ 'REJECTED' | translate }}
          </a>
        </li>
      </ul>
      
  
    </header>
  </div>
  

<div class="vendortable rounded mt-4 shadow-sm p-4 bg-white">
  <div class="container">
      <div class="d-flex justify-content-between align-items-center mb-3">
          <span class="fw-bold">{{ 'CHECKS_LIST' | translate }}</span>
          <input class="form-control search w-25" type="search" placeholder="{{ 'SEARCH' | translate }}" aria-label="Search">
      </div>
  </div>

  <table class="table mt-3">
      <thead>
          <tr>
              <th class="bg-light" scope="col">#</th>
              <th class="bg-light" scope="col">{{ 'CHECK_NO' | translate }}</th>
              <th class="bg-light" scope="col">{{ 'TYPE' | translate }}</th>
              <th class="bg-light" scope="col">{{ 'AMOUNT' | translate }}</th>
              <th class="bg-light" scope="col">{{ 'FROM' | translate }}</th>
              <th class="bg-light" scope="col">{{ 'TO' | translate }}</th>
              <th class="bg-light" scope="col">{{ 'DUE_DATE' | translate }}</th>
              <th class="bg-light" scope="col">{{ 'ACTIONS' | translate }}</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let check of checks; let i = index">
              <th scope="row">{{check.id}}</th>
              <td>{{ check.check_number }}</td>
              <td>{{ check.type }}</td>
              <td>{{ check.amount }}</td>
              <td>{{ check.source_account.name }}</td>
              <td>{{ check.payed_to.name }}</td>
              <td>{{ check.due_date }}</td>
              <td class="d-flex justify-content-around align-items-center">

                <a *ngIf="status == 'waiting' || status == 'rejected'" class="btn btn-info" (click)="ManageChangeStatus('approved' ,check.id)">
                    approve
                  </a>
                  <a  *ngIf="status == 'approved' || status == 'waiting'"   class="btn btn-danger" (click)="ManageChangeStatus('rejected',check.id)">
                    reject
                  </a>
                  <a *ngIf="status == 'rejected' && check.number_of_moves<=1" class="btn btn-success" (click)="ManageChangeStatus('waiting',check.id)">
                    waiting
                  </a>

                  <i class="fa-solid fa-trash-can btn1 bg-danger rounded" *ngIf="check.number_of_moves<=1" (click)="deleteCheck(check.id)" title="{{ 'manageCountry.delete' | translate }}"></i>

                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/check', check.id]">
                      <i class="fa-solid fa-eye btn1 bg-primary rounded" title="{{ 'VIEW_CHECK' | translate }}"></i>
                  </a>
              </td>
          </tr>
      </tbody>
  </table>
</div>