<div class="mt-3 mb-3">
  <h5 class="large-text">{{ 'MANAGE_PURCHASES_BILLS' | translate }}</h5>
  <span class="text-muted large-text">{{ 'DASHBOARD' | translate }} <i
      [ngClass]="'fa-solid ' + ('ICON_CLASS' | translate)"></i> {{ 'PURCHASES_BILLS' | translate }} <i
      [ngClass]="'fa-solid ' + ('ICON_CLASS' | translate)"></i> {{ 'CREATE_BILL' | translate }}</span>
</div>
<div class="mt-4 mb-4">
  <form [formGroup]="purchasesBillForm" (ngSubmit)="handleForm()">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card shadow em-card rounded-lg">
            <div class="card-header bg-white text-black rounded-top pt-3">
              <h5 class="large-text">{{ 'PURCHASES_BILL_DETAILS' | translate }}</h5>
            </div>
            <div class="card-body pb-5">
              <div class="row">

                <div class="form-group col-md-6">
                  <label for="invoice_date" class="form-label large-text">{{ 'INVOICE_DATE' | translate }}</label>
                  <input id="invoice_date" formControlName="invoice_date" type="date" class="form-control"
                    [class.is-invalid]="purchasesBillForm.get('date')?.invalid && isSubmited" />


                  <div class="text-danger" *ngIf="purchasesBillForm.get('date')?.invalid&& isSubmited">
                    {{ 'Vendor' | translate }} {{ 'IS_REQUIRED' | translate }}
                  </div>

                </div>

                <div class="form-group col-md-6">
                  <label class="form-label">{{ 'SUPPLIER' | translate }}</label>
                  <button type="button" class="btn btn-outline-primary w-100"
                    (click)="openModal('shiftModal' , 'vendor')">
                    {{ selectedVendor ? selectedVendor.name : ('SUPPLIER' | translate) }}
                  </button>

                  <input type="hidden" formControlName="supplier_id" [value]="selectedVendor?.id" />
                  <div class="text-danger" *ngIf="!selectedVendor && isSubmited">
                    {{ 'Vendor' | translate }} {{ 'IS_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <div class="form-group col-md-6">
                    <label class="form-label">{{ 'STORE' | translate }}</label>
                    <button type="button" class="btn btn-outline-primary w-100"
                      (click)="openModal('storeModal', 'store')">
                      {{ selectedStore ? selectedStore?.name : ('STORE' | translate) }}
                    </button>

                    <input type="hidden" formControlName="store_id" [value]="selectedStore?.id" />
                    <div class="text-danger" *ngIf="!selectedStore && isSubmited">
                      {{ 'Store' | translate }} {{ 'IS_REQUIRED' | translate }}
                    </div>
                  </div>



                  <div class="invalid-feedback" *ngIf="!selectedStore  && isSubmited">
                    {{ 'Store' | translate }} {{ 'IS_REQUIRED' | translate }}
                  </div>
                </div>

                <div *ngIf="needCurrecyPrice" class="form-group col-md-6">
                  <label class="form-label large-text">سعر عملة ال ({{forignCurrencyName}})</label>
                  <input formControlName="currency_price_value" type="number" class="form-control"
                    (input)="currencyPrice()" />
                </div>
                <!-- Notes -->
                <div class="form-group col-md-12">
                  <label for="notes" class="form-label large-text">{{ 'NOTES' | translate }}</label>
                  <textarea id="notes" formControlName="notes" class="form-control"
                    placeholder="{{ 'NOTES' | translate }}..." rows="3"></textarea>
                </div>

                <div class="form-group col-md-6">
                  <label for="file_type" class="form-label">Type</label>
                  <select id="file_type" formControlName="file_type" class="form-control"
                    (change)="onFileTypeChange($event)">
                    <option value="manual">Manual</option>
                    <option value="all_data">All Product Data</option>
                    <option value="items_only">Only Items</option>
                  </select>
                </div>
                <div class="d-flex align-items-end gap-3" *ngIf="showFile">
                  <!-- Show All Data Export Button -->
                  <a *ngIf="showAllDataExport" (click)="exportAllDataToSheet()" class="btn btn-outline-info">
                    Export All Data To Sheet
                  </a>

                  <!-- Show only for only_items -->
                  <a *ngIf="showItemsExport" (click)="exportItemsDataToSheet()" class="btn btn-outline-info">
                    Export Items Data To Sheet
                  </a>

                  <div>
                    <label for="total_Amount" class="form-label">Total Amount</label>
                    <input
                      id="total_Amount"
                      type="number"
                      class="form-control"
                      (input)="onTotalChange($event)"
                      required
                    />
                  </div>
                  <input 
                  id="file" 
                  type="file" 
                  class="form-control" 
                  (change)="onFileSelected($event)" 
                />
                </div>
                <div class="form-group col-md-12" *ngIf="showManual">
                  <div formArrayName="items" class="mt-4 ">
                    <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i"
                      class="mb-3 border p-3 rounded">
                      <div class="row">

                        <!-- Product Selection -->
                        <div class="col-md-2">

                          <label class="form-label">{{ 'PRODUCT' | translate }}</label>
                          <button type="button" class="btn btn-outline-primary w-100" (click)="openProductModal(i)">
                            {{ item.get('product')?.value?.name ? item.get('product')?.value.name : ('PRODUCT' |
                            translate) }}
                          </button>
                          <input type="hidden" formControlName="product_id" [value]="item.get('product')?.value?.id" />
                        </div>

                        <!-- Quantity -->

                        <div class="col-md-2">
                          <label for="amount">{{ 'QUANTITY' | translate }}</label>
                          <input formControlName="amount" type="number" class="form-control" (input)="onAmountChange(i)"
                            [readonly]="!item.get('product')?.value"
                            [class.is-invalid]="item.get('amount')?.invalid && isSubmited" />
                          <p class="text-warning" *ngIf="!item.get('product')?.value ">
                            اختر المنتج اولا
                          </p>

                          <div class="text-danger"
                            *ngIf="item.get('product')?.value && item.get('amount')?.invalid && isSubmited ">
                            {{ 'price' | translate }} {{ 'IS_REQUIRED' | translate }}
                          </div>
                        </div>


                        <div class="col-md-2">
                          <label for="price">{{ 'PRICE' | translate }} <span
                              *ngIf="needCurrecyPrice">({{forignCurrencyName}})</span></label>
                          <input formControlName="price" type="number" class="form-control" (input)="onPrice()"
                            [class.is-invalid]="item.get('price')?.invalid && isSubmited" />
                          <div class="text-danger" *ngIf="item.get('price')?.invalid && isSubmited ">
                            {{ 'price' | translate }} {{ 'IS_REQUIRED' | translate }}
                          </div>
                        </div>

                        <div class="col-md-2" *ngIf="item.get('colors')?.value?.length">
                          <label>color</label>
                          <select id="color_id" (change)="onColorChange($event, i)" class="form-control custom-select"
                            formControlName="color_id" [class.is-invalid]="!item.get('color_id')?.value && isSubmited ">
                            <option *ngFor="let color of item.get('colors')?.value" [value]="color.id">
                              {{ color.color.color }}
                            </option>
                          </select>

                          <div class="text-danger" *ngIf="!item.get('color_id')?.value && isSubmited ">
                            {{ 'color' | translate }} {{ 'IS_REQUIRED' | translate }}
                          </div>

                        </div>


                        <div class="col-md-2" *ngIf="item.get('type')?.value == 'branch'">
                          <label for="price">{{ 'COLOR' | translate }}</label>
                          <p>

                            {{item.get('branch_data')?.value.color.color }}
                          </p>

                        </div>

                        <div class="col-md-2" *ngIf="item.get('type')?.value == 'branch'">
                          <label for="price">{{ 'DETERMINANTS' | translate }}</label>

                          <span *ngFor="let determinant of item.get('branch_data')?.value.determinants; let i = index">
                            <span class="badge bg-info text-dark me-1">
                              {{ determinant.name }}: {{ determinant.value }}
                            </span>
                          </span>
                        </div>

                        <div class="col-md-2">
                          <label for="price">{{ 'TOTAL_PRICE' | translate }}</label>
                          <p>
                            <strong>Total: </strong>
                            {{item.get('price')?.value * item.get('amount')?.value ? item.get('price')?.value *
                            item.get('amount')?.value:0 }}
                          </p>
                        </div>



                        <ng-container *ngIf="item.get('determinants')?.value?.length">
                          <div class="row" formArrayName="determinants">

                            <div class="col-md-2"
                              *ngFor="let determinant of getDeterminants(item).controls; let i = index"
                              [formGroupName]="i">
                              <label>{{determinant.get('name')?.value}}</label>
                              <select id="selected_id" (change)="onColorChange($event, i)"
                                class="form-control custom-select" formControlName="selected_id">
                                <option *ngFor="let value of determinant.get('values')?.value" [value]="value.id">
                                  {{ value.value }}
                                </option>
                              </select>



                            </div>
                          </div>

                        </ng-container>





                        <div class="form-group col-md-12 mt-4"
                          *ngIf="item.get('neededSerialNumbers')?.value>0 || item.get('serialNumbers')?.value.length>0 ">
                          <label>{{ 'BARCODES' | translate }}</label>
                          <div class="alert-warning text-center">
                            <strong>needed serial numbers: </strong>
                            {{item.get('neededSerialNumbers')?.value}}
                          </div>


                          <div class="row rounded border shadow p-2" *ngIf="item.get('serialNumbers')?.value.length>0">
                            <div *ngFor="let serialNumber of item.get('serialNumbers')?.value"
                              class="col-md-3 row p-1 m-2 rounded .bg-light border">
                              <div class="col-md-10">
                                {{serialNumber.barcode}}
                              </div>
                              <div class="col-md-2">
                                <a class="btn-close" aria-label="Close"
                                  (click)="removeSerialNumber(serialNumber.barcode , i)"></a>

                              </div>
                            </div>

                          </div>



                          <div class="d-flex align-items-center mb-2">

                            <input formControlName="barcode" type="text" class="form-control me-2"
                              placeholder="Enter barcode" />

                            <button type="button" class="btn btn-success" (click)="addParcode(i)">
                              add
                            </button>
                          </div>
                        </div>

                        <!-- Remove Item -->
                        <div class="col-md-12">
                          <button type="button" class="btn btn-danger mt-2" (click)="removeItem(i)">
                            <i class="fa-solid fa-trash"></i> {{ 'REMOVE_ITEM' | translate }}
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Add Item -->
                  <button type="button" class="btn btn-primary mt-3" (click)="addItem()">
                    <i class="fa-solid fa-plus"></i> {{ 'ADD_ITEM' | translate }}
                  </button>
                </div>
                <div class=" text-black bg-secoundry border rounded  row  mt-3">
                  <div class="card-header text-center"> الدفع </div>

                  <div class="form-group col-md-12">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" formControlName="showCashAccountsDropdown"
                        (change)="paymentTriggerChange()" />
                      {{ 'SHOW_CASH_ACCOUNTS' | translate }}
                    </label>
                  </div>

                  <div class="form-group col-md-12" *ngIf="purchasesBillForm.get('showCashAccountsDropdown')?.value">
                    <!-- <label class="form-check-label">
                      اختر طريقة الدفع
                    </label> -->

                    <label for="payment_type" class="form-label large-text"> اختر طريقة الدفع </label>
                    <select id="payment_type" formControlName="payment_type" class="form-control"
                      (change)="onPaymentTypeChange($event)">
                      <!-- <option disabled>اختر طريقة الدفع</option> -->
                      <option value="cash">نقدى</option>
                      <option value="check">شيك</option>




                    </select>



                  </div>




                  <div
                    *ngIf="purchasesBillForm.get('showCashAccountsDropdown')?.value && purchasesBillForm.get('payment_type')?.value == 'cash'"
                    class="form-group col-md-6">
                    <label class="form-label large-text">{{ 'SELECT_CASH_ACCOUNTS' | translate }}</label>
                    <button type="button" class="btn btn-outline-primary w-100"
                      (click)="openModal('shiftModal' , 'cash')">
                      {{ selectedCashAccount ? selectedCashAccount.name : ('SELECT_CASH_ACCOUNTS' | translate) }}
                    </button>
                    <input type="hidden" formControlName="cash_id" [value]="selectedCashAccount?.id" />

                  </div>
                  <div
                    *ngIf="purchasesBillForm.get('showCashAccountsDropdown')?.value && purchasesBillForm.get('payment_type')?.value == 'cash'"
                    class="form-group col-md-4">
                    <label class="form-label large-text">
                      <span *ngIf="needCurrecyPrice">({{forignCurrencyName}})</span>سوف يتم دفع هذا المبلغ</label>
                    <input formControlName="payed_price" type="number" class="form-control" (input)="payedAmount()" />

                  </div>




                  <div
                    *ngIf="purchasesBillForm.get('showCashAccountsDropdown')?.value && purchasesBillForm.get('payment_type')?.value == 'check'"
                    class="form-group col-md-6">
                    <label class="form-label large-text">{{ 'SELECT_CASH_ACCOUNTS' | translate }}</label>
                    <button type="button" class="btn btn-outline-primary w-100" (click)="openModal('checkModel' , '')">
                      {{ selectedCheck ? selectedCheck.payed_to.name : ('SELECT_CHECK_ACCOUNTS' | translate) }}
                    </button>
                    <input type="hidden" formControlName="check_id" [value]="selectedCheck?.id" />

                  </div>




                </div>





                <div class="form-group col-md-6">

                  <p><strong>Total: </strong>{{total}}</p>
                  <p><strong>Total Payed: </strong>{{totalPayed}}</p>
                  <p><strong>the rest: </strong>{{total -totalPayed}}</p>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>









      <div class="mt-4 mb-4">
        <button type="submit" class="btn btn-primary px-4">
          <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i> {{ 'SAVE' | translate }}
        </button>
      </div>
    </div>
  </form>
</div>

<div class="modal fade" id="shiftModal" tabindex="-1" aria-labelledby="shiftModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shiftModalLabel">{{ 'mainAccountNav.selectAccount' | translate }}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal('shiftModal')"></button>
      </div>
      <div class="modal-body">

        <input type="text" class="form-control mb-3" [placeholder]="'mainAccountNav.searchAccount' | translate"
          [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange()" />


        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>{{ 'mainAccountNav.accountName' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let account of filteredAccounts; let i = index" (click)="selectAccount(account)"
              style="cursor: pointer;">
              <td>{{ i + 1 }}</td>
              <td>{{ account.name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Store Modal -->
<div class="modal fade" id="storeModal" tabindex="-1" aria-labelledby="storeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'CHOOSE_STORE' | translate }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <input type="text" class="form-control mb-3" [(ngModel)]="storeSearchTerm"
          placeholder="{{ 'SEARCH' | translate }}" />

        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>{{ 'ID' | translate }}</th>
              <th>{{ 'STORE' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let store of filteredStores()" (click)="selectStore(store)"
              class="cursor-pointer hover-highlight">
              <td>{{ store.id }}</td>
              <td>{{ store.name }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>





<div class="modal fade" id="productModel" tabindex="-1" aria-labelledby="shiftModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shiftModalLabel">{{ 'mainAccountNav.selectAccount' | translate }}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeProductModel()"></button>
      </div>
      <div class="modal-body">
        <!-- Search Input -->
        <input type="text" class="form-control mb-3" [placeholder]="'mainAccountNav.searchAccount' | translate"
          [(ngModel)]="ProductsearchQuery" (ngModelChange)="onProductSearchChange()" />

        <!-- Accounts Table -->



        <table class="table table-striped table-hover table-bordered rounded">
          <thead class="table-dark">
            <tr>
              <!-- <th>#</th> -->
              <th>Product ID</th>
              <th>Product Name</th>
              <th>Stock</th>
              <th>Color</th>
              <th>determinants</th>

            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let product of filteredProducts; let i = index">
              <!-- Main Product Row -->
              <tr class="table-primary" (click)="selectProduct(product.product , 'product' ,product.product.id )"
                style="cursor: pointer;">
                <!-- <td rowspan="{{ product.branches.length + 1 }}">{{ i + 1 }}</td> -->
                <td><strong>{{ product.product.id }}</strong></td>
                <td>{{ product.product.name }}</td>
                <td>{{ product.product.stock }}</td>
                <td colspan="4">Main Product</td>
              </tr>

              <!-- Branches -->
              <tr *ngFor="let branch of product.branches"
                (click)="selectProduct(product.product ,'branch',branch.id ,branch )" style="cursor: pointer;">
                <td>{{ branch.code }}</td>
                <td>{{ product.product.name }}</td>
                <td>{{ branch.stock }}</td>
                <td *ngIf="branch.color">{{ branch.color.color }}</td>
                <td>
                  <span *ngFor="let determinant of branch.determinants; let i = index">
                    <span class="badge bg-info text-dark me-1">
                      {{ determinant.name }}: {{ determinant.value }}
                    </span>
                  </span>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>




      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="checkModel" tabindex="-1" aria-labelledby="shiftModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shiftModalLabel">{{ 'mainAccountNav.selectAccount' | translate }}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal('checkModel')"></button>
      </div>
      <div class="modal-body">
        <!-- Search Input -->
        <input type="text" class="form-control mb-3" [placeholder]="'mainAccountNav.searchAccount' | translate"
          [(ngModel)]="searchQuery" (ngModelChange)="onCheckSearchChange()" />

        <!-- Accounts Table -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="bg-light" scope="col">{{ 'CHECK_NO' | translate }}</th>
              <th class="bg-light" scope="col">{{ 'AMOUNT' | translate }}</th>
              <th class="bg-light" scope="col">{{ 'FROM' | translate }}</th>
              <th class="bg-light" scope="col">{{ 'TO' | translate }}</th>
              <th class="bg-light" scope="col">{{ 'DUE_DATE' | translate }}</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let check of checks; let i = index" (click)="selectcheck(check)" style="cursor: pointer;">
              <td>{{ check.check_number }}</td>
              <td>{{ check.amount }}</td>
              <td>{{ check.source_account.name }}</td>
              <td>{{ check.payed_to.name }}</td>
              <td>{{ check.due_date }}</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>