<div class="mt-3 mb-3">
  <h5 class="large-text">{{ 'MANAGE_PURCHASES_BILLS' | translate }}</h5>
  <span class="text-muted large-text">{{ 'DASHBOARD' | translate }} <i [ngClass]="'fa-solid ' + ('ICON_CLASS' | translate)" ></i> {{ 'PURCHASES_BILLS' | translate }} <i [ngClass]="'fa-solid ' + ('ICON_CLASS' | translate)" ></i> {{ 'CREATE_BILL' | translate }}</span>
</div>
<div class="mt-4 mb-4">
  <form [formGroup]="purchasesBillForm" (ngSubmit)="handleForm()">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card shadow em-card rounded-lg">
              <div class="card-header bg-white text-black rounded-top pt-3">
                <h5 class="large-text">{{ 'PURCHASES_BILL_DETAILS' | translate }}</h5>
              </div>
              <div class="card-body pb-5">
                <div class="row">
  
                  <!-- Bill Type -->
                  <!-- <div class="form-group col-md-6">
                    <label for="type" class="form-label large-text">{{ 'BILL_TYPE' | translate }}</label>
                    <select id="type" formControlName="type" class="form-control">
                      <option value="purchase">{{ 'PURCHASE' | translate }}</option>
                      <option value="return">{{ 'RETURN' | translate }}</option>
                    </select>
                    <div class="alert alert-danger" *ngIf="purchasesBillForm.get('type')?.errors && purchasesBillForm.get('type')?.touched">
                      <p *ngIf="purchasesBillForm.get('type')?.hasError('required')">{{ 'BILL_TYPE' | translate }} {{ 'IS_REQUIRED' | translate }}</p>
                    </div>
                  </div> -->
  
                  <!-- Invoice Date -->
                  <div class="form-group col-md-6">
                    <label for="invoice_date" class="form-label large-text">{{ 'INVOICE_DATE' | translate }}</label>
                    <input id="invoice_date" formControlName="invoice_date" type="date" class="form-control" />
                    <div class="alert alert-danger" *ngIf="purchasesBillForm.get('invoice_date')?.errors && purchasesBillForm.get('invoice_date')?.touched">
                      <p *ngIf="purchasesBillForm.get('invoice_date')?.hasError('required')">{{ 'INVOICE_DATE' | translate }} {{ 'IS_REQUIRED' | translate }}</p>
                    </div>
                  </div>
  
                  <!-- Due Date -->
                  <!-- <div class="form-group col-md-6">
                    <label for="due_date" class="form-label large-text">{{ 'DUE_DATE' | translate }}</label>
                    <input id="due_date" formControlName="due_date" type="date" class="form-control" />
                    <div class="alert alert-danger" *ngIf="purchasesBillForm.get('due_date')?.errors && purchasesBillForm.get('due_date')?.touched">
                      <p *ngIf="purchasesBillForm.get('due_date')?.hasError('required')">{{ 'DUE_DATE' | translate }} {{ 'IS_REQUIRED' | translate }}</p>
                    </div>
                  </div> -->
  
                  <!-- Tax Type -->
                  <!-- <div class="form-group col-md-6">
                    <label for="tax_type" class="form-label large-text">{{ 'TAX_TYPE' | translate }}</label>
                    <select id="tax_type" formControlName="tax_type" class="form-control">
                      <option value="included">{{ 'INCLUDED' | translate }}</option>
                      <option value="excluded">{{ 'EXCLUDED' | translate }}</option>
                      <option value="exempt">{{ 'EXEMPT' | translate }}</option>
                    </select>
                    <div class="alert alert-danger" *ngIf="purchasesBillForm.get('tax_type')?.errors && purchasesBillForm.get('tax_type')?.touched">
                      <p *ngIf="purchasesBillForm.get('tax_type')?.hasError('required')">{{ 'TAX_TYPE' | translate }} {{ 'IS_REQUIRED' | translate }}</p>
                    </div>
                  </div>
   -->
                  <!-- Entity
                  <div class="form-group col-md-6">
                    <label for="entity" class="form-label">Entity</label>
                    <input id="entity" formControlName="entity" type="text" class="form-control" placeholder="Enter Entity" />
                  </div> -->
  
                  <!-- Purchased From -->
                  <div class="form-group col-md-6">
                    <!-- <label for="supplier_id" class="form-label large-text">{{ 'SUPPLIER' | translate }}</label>
                    <select id="supplier_id" formControlName="supplier_id" class="form-control">
                      <option *ngFor="let supplier of Suppliers" [value]="supplier.id">{{ supplier.name_ar }}</option>
                    </select> -->

                    <label class="form-label">{{ 'SUPPLIER' | translate }}</label>
                    <button type="button" class="btn btn-outline-primary w-100" (click)="openModal('shiftModal' , 'vendor')">
                      {{ selectedVendor ? selectedVendor.name : ('SUPPLIER' | translate) }}
                    </button>
                    <input type="hidden" formControlName="supplier_id" [value]="selectedVendor?.id" />

                  </div>


                  <!-- <div class="form-group col-md-6">
                    <label class="form-label large-text">{{ 'SELECT_DELEGATES' | translate }}</label>
                    <select class="form-control" formControlName="delegate_id">
                      <option>{{ 'SELECT_DELEGATES' | translate }}</option>
                      <option *ngFor="let delegate of delegates" [value]="delegate.id">{{ delegate.name_ar }}</option>
                    </select>
                  </div> -->
                  <div class="form-group col-md-6">
                    <label for="delegate_id" class="form-label large-text">{{ 'DELEGATE' | translate }}</label>
                    <br>
                    <a (click)="openModal('shiftModal' , 'delegate')" class="btn btn-outline-info">
                      {{selecteddelegateAccount? selecteddelegateAccount.name : 'اختر الحساب'}}
                    </a>
                    <i class=" ms-1 fa-solid fa-trash-can btn1 bg-danger rounded p-1" (click)="removeCurrentDelegate()"></i>
                  </div>


             
                  
                  <!-- <div class="form-group col-md-6">
                    <label class="form-label">Select CashAccounts</label>
                    <select class="form-control" formControlName="cash_id">
                      <option>Select CashAccounts</option>
                      <option *ngFor="let cashAccount of cashAccounts" [value]="cashAccount.id">{{ cashAccount.name_ar }}</option>
                    </select>
                  </div> -->
  
                  <!-- Store -->
                  <div class="form-group col-md-6">
                    <label for="store_id" class="form-label large-text">{{ 'STORE' | translate }}</label>
                    <select id="store_id" formControlName="store_id" class="form-control" (change)="onStoreChange($event)">
                      <option *ngFor="let store of stores" [value]="store.id">{{ store.name }}</option>
                    </select>
                  </div>
  
                  <!-- Currency -->
                  <div class="form-group col-md-6">
                    <label for="currency_id" class="form-label large-text">{{ 'CURRENCY' | translate }}</label>
                    <select id="currency_id" formControlName="currency_id" class="form-control">
                      <option *ngFor="let currency of currencies" [value]="currency.id">{{ currency.name }}</option>
                    </select>
                  </div>
  
                  <!-- Notes -->
                  <div class="form-group col-md-12">
                    <label for="notes" class="form-label large-text">{{ 'NOTES' | translate }}</label>
                    <textarea id="notes" formControlName="notes" class="form-control" placeholder="{{ 'NOTES' | translate }}..." rows="3"></textarea>
                  </div>

                  <!-- <div class="form-group col-md-12">

                  <div formArrayName="items" class="mt-4">
                    <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
                      <div class="row mb-3">
                        
                        <div class="form-group col-md-4">
                          <label for="quantity" class="form-label">Quantity</label>
                          <input formControlName="quantity" type="number" class="form-control" placeholder="Enter Quantity" />
                          <div class="alert alert-danger" *ngIf="item.get('quantity')?.errors && item.get('quantity')?.touched">
                            <p *ngIf="item.get('quantity')?.hasError('required')">Quantity is required</p>
                          </div>
                        </div>
  
                        
                        
  
                     
                        <div class="form-group col-md-4">
                          <label for="product_id" class="form-label">Product</label>
                        
                          <select
                          formControlName="product_id"
                          class="form-control"
                           (change)="onProductChange($event, i)"
                           >
                          <option *ngFor="let product of Products" [value]="product.id">{{ product.name_ar }}</option>
                          </select>
                        </div>
                        
                        <div class="form-group col-md-4">
                          <label for="total_price" class="form-label">Total Price</label>
                          <input
                            type="text" formControlName="total_price"
                            step="0.01"
                            class="form-control"
                            placeholder="Enter Total Price"
                          />
                          <div
                            class="alert alert-danger"
                            *ngIf="purchasesBillForm.get('total_price')?.errors && purchasesBillForm.get('total_price')?.touched"
                          >
                            <p *ngIf="purchasesBillForm.get('total_price')?.hasError('required')">
                              Total Price is required
                            </p>
                          </div>
                        </div>
                        
  
                       
                        <div class="col-md-12">
                          <button type="button" class="btn btn-danger" (click)="removeItem(i)">
                            <i class="fa-solid fa-trash"></i> Remove Item
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
  
                
                  <div class="mt-3">
                    <button type="button" class="btn btn-success" (click)="addItem()">
                      <i class="fa-solid fa-plus"></i> Add Item
                    </button>
                  </div>
  
                </div> -->
                <div class="form-group col-md-12">
                  <div formArrayName="items" class="mt-4 ">
                    <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i" class="mb-3 border p-3 rounded">
                      <div class="row">
                
                        <!-- Product Selection -->
                        <div class="col-md-4">

                          <label class="form-label">{{ 'PRODUCT' | translate }}</label>
                          <button type="button" class="btn btn-outline-primary w-100" (click)="openProductModal(i)">
                            {{ selectedProduct ? selectedProduct.name : ('PRODUCT' | translate) }}
                          </button>
                          <input type="hidden" formControlName="product_id" [value]="selectedProduct?.id" />
                        </div>
                      
                        <!-- Quantity -->
                        <!-- <div class="col-md-2">
                          <label for="quantity">Quantity</label>
                          <input formControlName="quantity" type="number" class="form-control" />
                        </div> -->
                        <div class="col-md-2">
                          <label for="amount">{{ 'QUANTITY' | translate }}</label>
                          <input formControlName="amount" type="number" class="form-control" (change)="onAmountChange(i)" />
                        </div>
                
                        <!-- Total Price -->
                        <div class="col-md-2">
                          <label for="price">{{ 'TOTAL_PRICE' | translate }}</label>
                          <input formControlName="price" type="text" class="form-control" readonly />
                        </div>

                   <!-- Determinants -->
                         <!-- <div class="col-md-12 mt-3" *ngIf="item.get('determinants')?.value?.length">
                          <label class="d-block">{{ 'DETERMINANTS' | translate }}</label>
                          <div *ngFor="let determinant of item.get('determinants')?.value; let idx = index" class="mb-2">
                            <label>{{ determinant.determinantName }}</label>
                            <select
                              [id]="'determinant-' + determinant.determinantId"
                              (change)="onDeterminantValueSelect(determinant.determinantId, i, $event)"
                              class="form-control custom-select"
                              [formControlName]="'determinant-' + determinant.determinantId"
                            >
                              <option
                                *ngFor="let value of determinant.determinantValues"
                                [value]="value.id"
                                [selected]="value.id === determinant.selectedValue"
                              >
                                {{ value.value }}
                              </option>
                            </select>
                          </div>
                        </div> -->
                
                        <!-- Amount -->
                       
                
                        <!-- Dynamic Inputs -->
                        <div class="form-group col-md-12 mt-4" >
                          <label>{{ 'BARCODES' | translate }}</label>
                          <div formArrayName="dynamicInputs">
                            <div *ngFor="let dynamicInput of getDynamicInputs(item).controls; let j = index">
                              <div class="d-flex align-items-center mb-2">
                                <input
                                  [formControlName]="j"
                                  type="text"
                                  class="form-control me-2"
                                  placeholder="barcode {{ j + 1 }}"
                                />
                                <button type="button" class="btn btn-warning" (click)="disableInput(i, j)">
                                  Override
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                
                        <!-- Remove Item -->
                        <div class="col-md-12">
                          <button type="button" class="btn btn-danger mt-2" (click)="removeItem(i)">
                            <i class="fa-solid fa-trash"></i> {{ 'REMOVE_ITEM' | translate }}
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                
                  <!-- Add Item -->
                  <button type="button" class="btn btn-primary mt-3" (click)="addItem()">
                    <i class="fa-solid fa-plus"></i> {{ 'ADD_ITEM' | translate }}
                  </button>






                  <div  class=" text-black bg-secoundry border rounded  row  mt-3" >
                    <div class="card-header text-center">  الدفع </div>
                   
                    <div class="form-group col-md-6">
                      <label class="form-check-label">
                        <input 
                          type="checkbox" 
                          class="form-check-input" 
                          formControlName="showCashAccountsDropdown"
                        />
                        {{ 'SHOW_CASH_ACCOUNTS' | translate }}
                      </label>
                   
                    <div *ngIf="purchasesBillForm.get('showCashAccountsDropdown')?.value">
                      <label class="form-label large-text">{{ 'SELECT_CASH_ACCOUNTS' | translate }}</label>
                      <button type="button" class="btn btn-outline-primary w-100" (click)="openModal('shiftModal' , 'cash')">
                        {{ selectedCashAccount ? selectedCashAccount.name : ('SELECT_CASH_ACCOUNTS' | translate) }}
                      </button>
                      <input type="hidden" formControlName="cash_id" [value]="selectedCashAccount?.id" />
  
                      <!-- <select class="form-control" formControlName="cash_id">
                        <option value="">{{ 'SELECT_CASH_ACCOUNTS' | translate }}</option>
                        <option *ngFor="let cashAccount of cashAccounts" [value]="cashAccount.id">{{ cashAccount.name_ar }}</option>
                      </select> -->
                    </div>
                  </div>
                  
                    
                      </div>


                </div>
                
                
             
           


               
                
                
                

                </div>
  
              </div>
            </div>
          </div>
        </div>








  
        <div class="mt-4 mb-4">
          <button  type="submit" class="btn btn-primary px-4">
            <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i> {{ 'SAVE' | translate }}
          </button>
        </div>
      </div>
  </form>
</div>






<div class="modal fade" id="shiftModal" tabindex="-1" aria-labelledby="shiftModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shiftModalLabel">{{ 'mainAccountNav.selectAccount' | translate }}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal('shiftModal')"></button>
      </div>
      <div class="modal-body">

        <input type="text" class="form-control mb-3" [placeholder]="'mainAccountNav.searchAccount' | translate"
          [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange()" />


        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>{{ 'mainAccountNav.accountName' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let account of filteredAccounts; let i = index" (click)="selectAccount(account)"
              style="cursor: pointer;">
              <td>{{ i + 1 }}</td>
              <td>{{ account.name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>






<div class="modal fade" id="productModel" tabindex="-1" aria-labelledby="shiftModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shiftModalLabel">{{ 'mainAccountNav.selectAccount' | translate }}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeProductModel()"></button>
      </div>
      <div class="modal-body">
        <!-- Search Input -->
        <input
          type="text"
          class="form-control mb-3"
          [placeholder]="'mainAccountNav.searchAccount' | translate"
          [(ngModel)]="ProductsearchQuery"
          (ngModelChange)="onProductSearchChange()"
        />

        <!-- Accounts Table -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th>{{ 'ProductName' | translate }}</th>
              <th>{{ 'BranchQuantity' | translate }}</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of filteredProducts; let i = index" (click)="selectProduct(product)" style="cursor: pointer;">
              <td>{{product.name }}</td>
              <td>{{product.stock }}</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>